---
import '@styles/shrines/atomicblonde.css'
---
<footer class="ab-footer">
    <h3 class="ab-h3">Made by Aristocratic Arietta</h3>
    <p class="ab-p">This shrine is made for fan/commentary purposes only, and respects the original copyright holders of <i>Atomic Blonde</i>. No copyright infringement intended.</p>
</footer>