---
import FunStuff from "@layouts/FunStuff.astro";
---
<FunStuff title="Shrines">
    <h3>Shrines marked with an asterisk (*) are under construction.</h3>
    <a href="/fun-stuff/shrines/atomic-blonde">Atomic Blonde (2017)</a>
    <a href="/fun-stuff/shrines/marie-antoinette">Marie Antoinette</a>
    <p style="text-decoration: line-through;">The Last Romanovs</p>
    <p style="text-decoration: line-through;">The Cold War</p>
    <p style="text-decoration: line-through;">Queen Victoria</p>
    <p style="text-decoration: line-through;">The Crinoline Period (1850-1860)</p>
    <p style="text-decoration: line-through;">Slayyyter</p>
    <p style="text-decoration: line-through;">Lana Del Rey</p>
</FunStuff>