---
import FunStuff from "@layouts/FunStuff.astro";
---
<FunStuff title="Shrines">
    <h3>Shrines marked with an asterisk (*) are under construction</h3>
    <a href="./atomic-blonde">Atomic Blonde (2017)</a>
    <a href="./romanovs">The Last Romanovs (*)</a>
    <a href="./marie-antoinette">Marie Antoinette (*)</a>
    <a href="./cold-war">The Cold War (*)</a>
    <a href="./queen-victoria">Queen Victoria (*)</a>
    <a href="./crinoline-period">The Crinoline Period (1850-1860) (*)</a>
    <a href="./slayyyter">Slayyyter (*)</a>
    <a href="./lana-del-rey">Lana Del Rey (*)</a>
</FunStuff>