---
import FunStuff from "@layouts/FunStuff.astro";
---
<FunStuff title="Shrines">
    <h3>Shrines marked with an asterisk (*) are under construction</h3>
    <a href="./shrines/atomic-blonde">Atomic Blonde (2017)</a>
    <a href="./shrines/romanovs">The Last Romanovs (*)</a>
    <a href="./shrines/marie-antoinette">Marie Antoinette (*)</a>
    <a href="./shrines/cold-war">The Cold War (*)</a>
    <a href="./shrines/queen-victoria">Queen Victoria (*)</a>
    <a href="./shrines/crinoline-period">The Crinoline Period (1850-1860) (*)</a>
    <a href="./shrines/slayyyter">Slayyyter (*)</a>
    <a href="./shrines/lana-del-rey">Lana Del Rey (*)</a>
</FunStuff>