---
import { Image } from 'astro:assets';
import Header from '@components/shrines/ab/ab-header.astro'
import Nav from '@components/shrines/ab/ab-nav.astro'
import Footer from '@components/shrines/ab/ab-footer.astro'
import Shrines from "@layouts/Shrines.astro";
import Carousel from "@components/Carousel.astro";
import '@styles/shrines/atomicblonde.css'

import type { ImageMetadata } from "astro";

const abFiles = import.meta.glob<{ default: ImageMetadata }>('/public/shrines/atomic-blonde/carousel-images/*.{jpeg,jpg,png,webp}', { eager: true });
const abImages = Object.values(abFiles).map(img => img.default.src);
---
<Shrines title="Atomic Blonde | Gallery">
    <div class="ab-wrapper">
        <Header />
        <Nav />
        <main class="ab-main">
            <h3 class="ab-h3">Gallery</h3>
            <Carousel images={abImages}/>
        </main>
        <Footer />
    </div>
</Shrines>
<style>
    .ab-main {
        width: 100%;
    }
    @media (min-width: 1000px) {
        .ab-main {
            max-width: 100%;
        }
    }
</style>