---
import Shrines from "@layouts/Shrines.astro";
import Carousel from "@components/Carousel.astro";
import '@styles/shrines/atomicblonde.css'

import type { ImageMetadata } from "astro";

const abFiles = import.meta.glob<{ default: ImageMetadata }>('/src/assets/shrines/atomic-blonde/carousel-images/*.{jpeg,jpg,png,webp}', { eager: true });
const abImages = Object.values(abFiles).map(img => img.default.src);
---
<Shrines title="Atomic Blonde | Gallery">
    <div class="ab-wrapper">
        <header>
            <img src="/src/assets/shrines/atomic-blonde/logo.webp" alt="" class="logo">
        </header>
        <nav class="ab-nav">
            <a href="/fun-stuff/shrines/atomic-blonde/" class="ab-nav-link">Home</a>
            <a href="/fun-stuff/shrines/atomic-blonde/gallery" class="ab-nav-link">Gallery</a>
            <a href="/fun-stuff/shrines/atomic-blonde/soundtrack" class="ab-nav-link">Soundtrack</a>
            <a href="/fun-stuff/shrines/atomic-blonde/videos" class="ab-nav-link">Videos</a>
        </nav>
        <main class="ab-main">
            <h3>Gallery</h3>
            <Carousel images={abImages}/>
        </main>
        <footer>
            <h3>Made by Aristocratic Arietta</h3>
        </footer>
    </div>
</Shrines>
<style>
    .ab-main {
        width: 100%;
    }
    @media (min-width: 1000px) {
        .ab-main {
            max-width: 100%;
        }
    }
</style>