---
import Shrines from "@layouts/Shrines.astro";
import Carousel from "@components/Carousel.astro";
import '@styles/shrines/atomicblonde.css'

import type { ImageMetadata } from "astro";

const abFiles = import.meta.glob<{ default: ImageMetadata }>('/src/assets/shrines/atomic-blonde/carousel-images/*.{jpeg,jpg,png,webp}', { eager: true });
const abImages = Object.values(abFiles).map(img => img.default.src);
---
<Shrines title="Atomic Blonde | Gallery">
    <div class="ab-wrapper">
        <header>
            <img src="/shrines/atomic-blonde/logo.webp" alt="" class="logo">
        </header>
        <nav>
            <a href="/fun-stuff/shrines/atomic-blonde/">Home</a>
            <a href="/fun-stuff/shrines/atomic-blonde/gallery">Gallery</a>
            <a href="/fun-stuff/shrines/atomic-blonde/soundtrack">Soundtrack</a>
            <a href="/fun-stuff/shrines/atomic-blonde/videos">Videos</a>
        </nav>
        <main class="ab-main">
            <h3>Gallery</h3>
            <Carousel images={abImages}/>
        </main>
        <footer>
            <h3>Made by Aristocratic Arietta</h3>
        </footer>
    </div>
</Shrines>
<style>
    .photo-container {
        overflow-x: hidden;
        width: 100%;
        border: solid 0.2em var(--ab-white);
        border-radius: 1em;
        filter: drop-shadow(0 0 0.25em var(--ab-white));
    }
    .ab-main {
        width: 100%;
    }
    @media (min-width: 1000px) {
        .ab-main {
            max-width: 100%;
        }
    }
</style>