---
import Shrines from "@layouts/Shrines.astro";
import '@styles/shrines/atomicblonde.css'
---
<Shrines title="Atomic Blonde | Home">
    <div class="ab-wrapper">
        <header>
            <img src="/shrines/atomic-blonde/logo.webp" alt="" class="logo">
        </header>
        <nav>
            <a href="/fun-stuff/shrines/atomic-blonde/">Home</a>
            <a href="/fun-stuff/shrines/atomic-blonde/gallery">Gallery</a>
            <a href="/fun-stuff/shrines/atomic-blonde/soundtrack">Soundtrack</a>
            <a href="/fun-stuff/shrines/atomic-blonde/videos">Videos</a>
        </nav>
        <main class="ab-main">
            <h3>All About Atomic Blonde</h3>
            <figure>
                <img src="/shrines/atomic-blonde/stills/atomic046.jpg" alt="Charlize Theron in character as Lorraine Broughton holding a gun during the film's one-take, 10-minute long staircase fight scene">
                <figcaption>Charlize Theron in character as Lorraine Broughton holding a gun during the film's one-take, 10-minute long staircase fight scene</figcaption>
            </figure>
            <p>The crown jewel of Her Majesty's Secret Intelligence Service, Agent Lorraine Broughton (Charlize Theron) is equal parts spycraft, sensuality and savagery, willing to deploy any of her skills to stay alive on her impossible mission. Sent alone into Berlin to deliver a priceless dossier out of the destabilized city, she partners with embedded station chief David Percival (James McAvoy) to navigate her way through the deadliest game of spies. <a href="https://www.imdb.com/title/tt2406566/">—IMDB</a></p>
        </main>
        <aside>
            <h3>Updates</h3>
            <ul>
                <li>July 9<sup>th</sup>, 2026: Added gallery, soundtrack, and videos. Need more pics in gallery.</li>
                <li>July 8<sup>th</sup>, 2026: Created basic theme for shrine</li>
            </ul>
        </aside>
        <footer>
            <h3>Made by Aristocratic Arietta</h3>
        </footer>
    </div>
</Shrines>