---
import { Image } from 'astro:assets';
import Shrines from "@layouts/Shrines.astro";
import '@styles/shrines/atomicblonde.css'
import ab_logo from '@assets/shrines/atomic-blonde/logo.webp'
---
<Shrines title="Atomic Blonde | Soundtrack">
    <div class="ab-wrapper">
        <header class="ab-header">
            <Image src={ab_logo} alt="Atomic Blonde title logo" class="ab-logo" />
        </header>
        <nav class="ab-nav">
            <a href="/fun-stuff/shrines/atomic-blonde/" class="ab-nav-link">Home</a>
            <a href="/fun-stuff/shrines/atomic-blonde/gallery" class="ab-nav-link">Gallery</a>
            <a href="/fun-stuff/shrines/atomic-blonde/soundtrack" class="ab-nav-link">Soundtrack</a>
            <a href="/fun-stuff/shrines/atomic-blonde/videos" class="ab-nav-link">Videos</a>
        </nav>
        <main class="ab-main">
            <h3 class="ab-h3">Soundtrack</h3>
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/m0ODoeBc04g?si=szb3DS2OL2YHgF1f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>Cat People (Putting Out Fire)</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">David Bowie</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/LsVQEMWs6qE?si=JsJnKhkmq8YDNZnx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>Major Tom (Völlig Losgelöst)</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">Peter Schilling</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/u1_KbKR_sng?si=ka0k82u_tmKYeEuU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>Blue Monday</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">HEALTH</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/JokT2iFfeek?si=NklZF7nW-RwRjhOS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>C*cks*cker</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">Tyler Bates</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/TMSlTQmDLx4?si=ZFZE8T2h8y6LuYl2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>99 Luftballons</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">Nena</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/2WNVNAOQWCE?si=CQR7zG11M0F74y7P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>Father Figure</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">George Michael</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/G3IOBsR7yGM?si=_ksN8V4QrGD8wu1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>Der Kommissar</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">After The Fire</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/Ruq33iAxL5k?si=mbYQELNZkIdEhbCe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>Cities in Dust</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">Siouxsie and the Banshees</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/AN40EWNZK8A?si=M9vn6CC2NYmtlZ_C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>The Politics of Dancing</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">Re-Flex</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/K6K_BZwUFnk?si=aFttQpCe9Q6kIua4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>Stigmata</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">Marilyn Manson, Tyler Bates</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/2UvBoye2H-g?si=cFmBMAyEOc8SIfio" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>Demonstration</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">Tyler Bates</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/l3ST8AjLAms?si=PQz-RjBxWBTFeaxG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>I Ran (So Far Away)</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">A Flock of Seagulls</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/eS3xeY6PlIk?si=uRrGycXDeiSryx08" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>99 Luftballons</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">Kaleida</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/zUKXhRikfPw?si=rjWNmvD65eQ6S-5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>Voices Carry</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">'Till Tuesday</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/LC2WpBcdM_A?si=DS7qB-mIbopvhUtn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>London Calling</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">The Clash</p>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="soundtrack-wrapper">
                <iframe class="ab-soundtrack-iframe" src="https://www.youtube-nocookie.com/embed/z0Axu1wDvsA?si=SxJVz1qW6TPqbCQC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="soundtrack-info">
                    <h4 class="ab-h4"><i>Finding the UHF Device</i></h4>
                    <p class="ab-p">by</p>
                    <p class="ab-p">Tyler Bates</p>
                </div>
            </div>
        </main>
        <footer class="ab-footer">
            <h3 class="ab-h3">Made by Aristocratic Arietta</h3>
        </footer>
    </div>
</Shrines>
<script>
    // Target the audio elements
    const audioPlayers = document.querySelectorAll('audio');

    // Prevent the default right-click menu on the audio players
    audioPlayers.forEach(player => {
        player.addEventListener('contextmenu', function(e) {
            e.preventDefault();
        });
    });
</script>
<style>
    .ab-main {
        width: 100%;
    }
    .ab-hr {
        grid-column: span 2;
        width: calc(100% - 2em);
    }
    @media (min-width: 1000px) {
        .ab-main {
            max-width: 100%;
        }
    }
</style>