---
import { Image } from 'astro:assets';
import Shrines from "@layouts/Shrines.astro";
import '@styles/shrines/atomicblonde.css'
import ab_logo from '@assets/shrines/atomic-blonde/logo.webp'
---
<Shrines title="Atomic Blonde | Videos">
    <div class="ab-wrapper">
        <header class="ab-header">
            <Image src={ab_logo} alt="Atomic Blonde title logo" class="ab-logo" />
        </header>
        <nav class="ab-nav">
            <a href="/fun-stuff/shrines/atomic-blonde/" class="ab-nav-link">Home</a>
            <a href="/fun-stuff/shrines/atomic-blonde/gallery" class="ab-nav-link">Gallery</a>
            <a href="/fun-stuff/shrines/atomic-blonde/soundtrack" class="ab-nav-link">Soundtrack</a>
            <a href="/fun-stuff/shrines/atomic-blonde/videos" class="ab-nav-link">Videos</a>
        </nav>
        <main class="ab-main">
            <h3 class="ab-h3">Videos</h3>
            <p class="ab-p">Here are some of my favorite edits and trailers of Atomic Blonde</p>
            <div class="video-container">
                <iframe class="ab-video-iframe" src="https://www.youtube-nocookie.com/embed/kq06XtP2uAg?si=9cgUYe-ptuwnEW-j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4 class="ab-h4">Blue Monday || Atomic Blonde (Music Video) || HEALTH x New Order x Sebastian Böhm</h4>
                    <a href="https://www.youtube.com/@thejuannextdoor1547" class="ab-link"><h4 class="ab-h4">the Juan next door</h4></a>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="video-container">
                <iframe class="ab-video-iframe" src="https://www.youtube-nocookie.com/embed/BYxVGBGr6BI?si=jvg-wASg_MReO9ux" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4 class="ab-h4">Peter schilling - Major tom (Soundtrack Atomic Blonde)</h4>
                    <a href="https://www.youtube.com/@Soundtrackvideos" class="ab-link"><h4 class="ab-h4">Soundtrackvideos (Films)</h4></a>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="video-container">
                <iframe class="ab-video-iframe" src="https://www.youtube-nocookie.com/embed/CrPDTalA1Lc?si=cY8Rs54tIcUp8RG2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4 class="ab-h4">Atomic Blonde | The 10-Minute Single Take Fight Scene in 4K HDR</h4>
                    <a href="https://www.youtube.com/@FocusFeatures" class="ab-link"><h4 class="ab-h4">Focus Features</h4></a>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="video-container">
                <iframe class="ab-video-iframe" src="https://www.youtube-nocookie.com/embed/9X_r6MyUf_U?si=kC0EAbavBQaNmP7E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4 class="ab-h4">Behind the Scenes of Charlize Theron Crushing Bones. Atomic Blonde.</h4>
                    <a href="https://www.youtube.com/@sircinelot6791" class="ab-link"><h4 class="ab-h4">Sir Cinelot</h4></a>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="video-container">
                <iframe class="ab-video-iframe" src="https://www.youtube-nocookie.com/embed/5rRo2Hi5Cxg?si=KeRBC87e0IdVVFpk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4 class="ab-h4">Movie Stunt Coordinator Breaks Down 'Atomic Blonde' Fight Scene | WIRED</h4>
                    <a href="https://www.youtube.com/@WIRED" class="ab-link"><h4 class="ab-h4">WIRED</h4></a>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="video-container">
                <iframe class="ab-video-iframe" src="https://www.youtube-nocookie.com/embed/-il0DOsFlQA?si=tlyDOQe6gEHFyFpK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4 class="ab-h4">Atomic Blonde | Lorraine Takes out a KGB Squad</h4>
                    <a href="https://www.youtube.com/@FocusFeatures" class="ab-link"><h4 class="ab-h4">Focus Features</h4></a>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="video-container">
                <iframe class="ab-video-iframe" src="https://www.youtube-nocookie.com/embed/pXCCBeuMWLo?si=HrTYhlPVDRe_6tDF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4 class="ab-h4">Atomic Blonde - Chapter 1: Father Figure [HD]</h4>
                    <a href="https://www.youtube.com/@UniversalPictures" class="ab-link"><h4 class="ab-h4">Universal Pictures</h4></a>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="video-container">
                <iframe class="ab-video-iframe" src="https://www.youtube-nocookie.com/embed/MboHPYkFnd4?si=hV6LY9Z5oYzBc-Ml" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4 class="ab-h4">Atomic Blonde - Official Trailer #2 [HD] - In Theaters July</h4>
                    <a href="https://www.youtube.com/@FocusFeatures" class="ab-link"><h4 class="ab-h4">Focus Features</h4></a>
                </div>
            </div>
            <hr class="ab-hr">
            <div class="video-container">
                <iframe class="ab-video-iframe" src="https://www.youtube-nocookie.com/embed/3fiIOMX0TdY?si=1YMjiCk0tGNccIdP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4 class="ab-h4">Atomic Blonde vid - (She's Got) The Look</h4>
                    <a href="https://www.youtube.com/@lynlethe" class="ab-link"><h4 class="ab-h4">Lyn</h4></a>
                </div>
            </div>
            <hr class="ab-hr">
        </main>
        <footer class="ab-footer">
            <h3 class="ab-h3">Made by Aristocratic Arietta</h3>
        </footer>
    </div>
</Shrines>
<style>
    .ab-main {
        width: 100%;
    }
    .ab-p {
        text-align: center;
    }
    .ab-hr {
        width: calc(100% - 2em);
    }
    @media (min-width: 1000px) {
        .ab-main {
            max-width: 100%;
        }
        
    }
</style>