---
import Shrines from "@layouts/Shrines.astro";
import '@styles/shrines/atomicblonde.css'
---
<Shrines title="Atomic Blonde | Videos">
    <div class="ab-wrapper">
        <header>
            <img src="/shrines/atomic-blonde/logo.webp" alt="" class="logo">
        </header>
        <nav>
            <a href="/fun-stuff/shrines/atomic-blonde/">Home</a>
            <a href="/fun-stuff/shrines/atomic-blonde/gallery">Gallery</a>
            <a href="/fun-stuff/shrines/atomic-blonde/soundtrack">Soundtrack</a>
            <a href="/fun-stuff/shrines/atomic-blonde/videos">Videos</a>
        </nav>
        <main class="ab-main">
            <h3>Videos</h3>
            <p>Here are some of my favorite edits and trailers of Atomic Blonde</p>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/kq06XtP2uAg?si=9cgUYe-ptuwnEW-j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4>Blue Monday || Atomic Blonde (Music Video) || HEALTH x New Order x Sebastian Böhm</h4>
                    <a href="https://www.youtube.com/@thejuannextdoor1547"><h4>the Juan next door</h4></a>
                </div>
            </div>
            <hr>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/BYxVGBGr6BI?si=jvg-wASg_MReO9ux" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4>Peter schilling - Major tom (Soundtrack Atomic Blonde)</h4>
                    <a href="https://www.youtube.com/@Soundtrackvideos"><h4>Soundtrackvideos (Films)</h4></a>
                </div>
            </div>
            <hr>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/CrPDTalA1Lc?si=cY8Rs54tIcUp8RG2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4>Atomic Blonde | The 10-Minute Single Take Fight Scene in 4K HDR</h4>
                    <a href="https://www.youtube.com/@FocusFeatures"><h4>Focus Features</h4></a>
                </div>
            </div>
            <hr>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/9X_r6MyUf_U?si=kC0EAbavBQaNmP7E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4>Behind the Scenes of Charlize Theron Crushing Bones. Atomic Blonde.</h4>
                    <a href="https://www.youtube.com/@sircinelot6791"><h4>Sir Cinelot</h4></a>
                </div>
            </div>
            <hr>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/5rRo2Hi5Cxg?si=KeRBC87e0IdVVFpk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4>Movie Stunt Coordinator Breaks Down 'Atomic Blonde' Fight Scene | WIRED</h4>
                    <a href="https://www.youtube.com/@WIRED"><h4>WIRED</h4></a>
                </div>
            </div>
            <hr>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/-il0DOsFlQA?si=tlyDOQe6gEHFyFpK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4>Atomic Blonde | Lorraine Takes out a KGB Squad</h4>
                    <a href="https://www.youtube.com/@FocusFeatures"><h4>Focus Features</h4></a>
                </div>
            </div>
            <hr>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/pXCCBeuMWLo?si=HrTYhlPVDRe_6tDF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4>Atomic Blonde - Chapter 1: Father Figure [HD]</h4>
                    <a href="https://www.youtube.com/@UniversalPictures"><h4>Universal Pictures</h4></a>
                </div>
            </div>
            <hr>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/MboHPYkFnd4?si=hV6LY9Z5oYzBc-Ml" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4>Atomic Blonde - Official Trailer #2 [HD] - In Theaters July</h4>
                    <a href="https://www.youtube.com/@FocusFeatures"><h4>Focus Features</h4></a>
                </div>
            </div>
            <hr>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/3fiIOMX0TdY?si=1YMjiCk0tGNccIdP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="video-information">
                    <h4>Atomic Blonde vid - (She's Got) The Look</h4>
                    <a href="https://www.youtube.com/@lynlethe"><h4>Lyn</h4></a>
                </div>
            </div>
            <hr>
        </main>
        <footer>
            <h3>Made by Aristocratic Arietta</h3>
        </footer>
    </div>
</Shrines>
<style>
    .ab-main {
        width: 100%;
    }
    .video-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        height: min-content;
        width: calc(100% - 2em);
        margin: 1em;
        gap: 2em;
    }
    .video-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-regular);
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    p {
        text-align: center;
    }
    h4 {
        font-size: 1em;
    }
    hr {
        width: calc(100% - 2em);
    }
    @media (min-width: 1000px) {
        .ab-main {
            max-width: 100%;
        }
        iframe {
            width: calc(75% - 2em);
        }
        .video-container {
            flex-direction: row;
        }
        .video-information {
            width: calc(25% - 2em);
        }
    }
</style>