---
import AboutHeroImage from '@assets/blog-images/about/revised-about-hero-image.webp';
import Layout from '@layouts/BlogPost.astro';
import NikonF4Image from '@assets/nikon f4.png'
import { Image } from 'astro:assets';
---

<Layout
	title="About Me"
	description="All about Aristocratic Arietta - Webdesigner, Seamstress, and more!"
	pubDate={new Date('2026-07-05T18:00:00-07:00')}
	updatedDate={new Date('2026-07-15T22:50:00-07:00')}
	heroImage={AboutHeroImage}
>
	<h2>Hi!</h2>
	<p>
		I'm Aristocratic Arietta, the webmaster of this very website! You can call me Arietta or Aria, just not Aristocratic because that's a mouthful! I am a college student who never got to experience the Y2K web, but I'm here to revist those times by making a website on Neocities!
	</p>
	<p>
		I have a lot of very different interests that I hope to share here. I am primarily a seamstress with a speciailty in Victorian dress, but I also dabble in 18<sup>th</sup> and 20<sup>th</sup> century dress as well. I have been sewing my entire life, and I hope to make it my career one day. I would love to work in costuming for film, theatre, and television. I do a lot of different crafts, my favorite being tatting (lace making). I hope to share some cool projects with you all!
	</p>
	<p>
		Outside of crafts, I love music! My music collection is quite large, as I collect vinyl records. I mostly collect new stuff, but I have some classics as well. I would share my Discogs account, but it is so incomplete it scares me. I am always listening to music when I am working or relaxing. When I am not near my record player, I am listening to music on Spotify. I am very specific in my tastes, but I am always looking for reccomendations.
	</p>
	<p>
		In other hobbies, I also love photography. Film photography, to be specific. I love the mystery of not knowing how the pictures will turn out! I shoot a healthy balance of black and white and color, all 35mm. I also have a small camera collection, but my go-to is my Nikon F4. It is a workhorse and I am obsessed with it. I want to get more lenses for it, though, as I only have two! I am far from the best photographer, but it really makes me happy to see improvement over time. Here's a picture of my behemoth F4 complete with flash, battery pack, and big 'ol lens:
	</p>
	<Image src={NikonF4Image} alt="My Nikon F4 camera with 70-210mm f/1.4 lens" class="camera-image"/>
	<p>
		I will be sharing a lot of the photos I take on here, so keep your eyes peeled for new photo dump posts! I just have to develop the like 6 rolls of film I have sitting in my fridge... I don't develop my own photos anymore, but I do scan them. That saves me money, as my local shop charges roughly $10/roll for just developing it. Occasionally, I make darkroom prints, but I haven't been very successful. I need to hear some tips and tricks from experienced darkroom artists, so if you think you have a few words of wisdom, let me know, and I will be forever indebted to you. ;)
	</p>
	<p>
		I am always looking for new friends, so if you made it this far go ahead and <a href="/fun-stuff/chat">say "Hi!" in my chat</a>, <a href="https://aristocraticarietta.atabook.org/">sign my guestbook,</a> or <a href="mailto:aristocraticarietta@proton.me">send me an email!</a> (I love receiving emails, by the way!) Any of those options would be much appreciated! No need to get fancy or write paragraphs, just reach out and say "Hi!" I always follow back (provided you have a NeoCities site ;). Toodles!
	</p>
	<div class="identity-badges-wrapper" x-data="{ badgeDropdown: false }">
		<button class="identity-badges-button" @click=" badgeDropdown = !badgeDropdown">Toggle Identity Badges</button>
		<div class="identity-badges-flexbox" x-show="badgeDropdown" x-transition>
			<div class="identity-badges">
				<h4 class="identity-badges-header">Basic Info</h4>
				<img src="https://i.imgur.com/XxxGZDG.png" alt="Female">
				<img src="https://i.imgur.com/z8s5c34.png" alt="She/Her">
				<img src="https://i.imgur.com/IUpHlGo.png" alt="Arizona Time">
				<img src="/badges/misc/u_of_arizona.png" alt="University of Arizona">
				<img src="https://i.imgur.com/27AZD8S.png" alt="College Student">
				<img src="https://i.imgur.com/vGvmHFZ.png" alt="LGTBQ+ Ally">
				<img src="https://i.imgur.com/AaYNmEX.png" alt="Disabled">
				<img src="https://i.imgur.com/AyUkfz8.png" alt="Narcolepsy">
				<img src="https://i.imgur.com/G8AyR6r.png" alt="Autistic">
				<img src="https://i.imgur.com/qjxrAwx.png" alt="Twenties">
				<img src="https://i.imgur.com/NlmYDAS.png" alt="American">
			</div>
			<div class="identity-badges">
				<h4 class="identity-badges-header">Personality</h4>
				<img src="https://i.imgur.com/OPFWPxg.png" alt="Libra">
				<img src="https://i.imgur.com/NqlNCxa.png" alt="Leo Rising">
				<img src="https://i.imgur.com/rYNpQKR.png" alt="Scorpio Moon">
				<img src="https://i.imgur.com/LhssI0m.png" alt="Chinese Zodiac Monkey">
				<img src="https://i.imgur.com/rI18gRz.png" alt="INFP Personality Type">
				<img src="https://i.imgur.com/OOsyaxq.png" alt="Empress">
			</div>
			<div class="identity-badges">
				<h4 class="identity-badges-header">Hobbies</h4>
				<img src="/badges/misc/Fashionista.png" alt="Fashionista">
				<img src="https://i.imgur.com/gVI5OAO.png" alt="Crafts">
				<img src="https://i.imgur.com/JPbBP0q.png" alt="Language Learner">
				<img src="https://i.imgur.com/9QQcg1Z.png" alt="German Language">
				<img src="https://i.imgur.com/Q7ojkhG.png" alt="Cosplayer">
				<img src="https://i.imgur.com/UuKod4C.png" alt="Crafter">
				<img src="https://i.imgur.com/D59sJi1.png" alt="Coder">
			</div>
			<div class="identity-badges" >
				<h4 class="identity-badges-header">Technology</h4>
				<img src="https://i.postimg.cc/vHSVWxtc/Git.png" alt="Git">
				<img src="https://i.postimg.cc/yYrZF3yD/GNU_Linux.png" alt="GNU/Linux">
				<img src="https://i.postimg.cc/4x7hw4WX/HTML5.png" alt="HTML5">
				<img src="https://i.postimg.cc/GhSykTxm/CSS3.png" alt="CSS3">
				<img src="https://i.postimg.cc/Hkc73W6p/Java_Script.png" alt="JavaScript">
				<img src="https://i.postimg.cc/28XZ4L7y/Firefox.png" alt="Firefox">
			</div>
			<div class="identity-badges">
				<h4 class="identity-badges-header">Fave Artists</h4>
				<img src="/badges/artists/Bebe_Rexha.png" alt="Bebe Rexha Fan">
				<img src="/badges/artists/Charli_XCX.png" alt="Charli XCX Fan">
				<img src="/badges/artists/Demi_Lovato.png" alt="Demi Lovato Fan">
				<img src="/badges/artists/KESHA.png" alt="Kesha Fan">
				<img src="/badges/artists/Kim_Petras.png" alt="Kim Petras Fan">
				<img src="/badges/artists/Lady_Gaga.png" alt="Lady Gaga Fan">
				<img src="/badges/artists/Lana_Del_Rey.png" alt="Lana Del Rey Fan">
				<img src="/badges/artists/Lorde.png" alt="Lorde Fan">
				<img src="/badges/artists/Madonna.png" alt="Madonna Fan">
				<img src="/badges/artists/MARINA.png" alt="MARINA Fan">
				<img src="/badges/artists/Rebecca_Black.png" alt="Rebecca Black Fan">
				<img src="/badges/artists/Slayyyter.png" alt="Slayyyter Fan">
			</div>
		</div>
	</div>
</Layout>
<style>
	.camera-image {
		width: 50%;
	}
	.identity-badges-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 1em;
		width: 100%;
	}
	.identity-badges-flexbox {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		width: 100%;
		gap: 1em;
	}
	.identity-badges {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.identity-badges-button {
		border: var(--border-glass);
		border-radius: var(--radius-glass);
		background-color: var(--bg-glass);
		box-shadow: var(--shadow-glass);
		padding: 2em 4em;
		font: inherit;
		transition: transform 0.2s ease;
	}
	.identity-badges-button:hover {
		transform: translateY(-0.5em);
	}
	.identity-badges-header {
		padding-bottom: 1em;
	}
	.identity-badges img {
		width: 100%;
		image-rendering: pixelated;
	}
</style>