---
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import LastFM from '@components/LastFM.astro';
import MyTime from '@components/MyTime.astro';
import Navigation from '@components/Nav.astro';
import RecentPosts from '@components/RecentPosts.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@src/consts';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog')
const recentPosts = allPosts
	.sort((a, b) => +new Date(b.data.pubDate) - +new Date(a.data.pubDate))
	.slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Navigation />
		<main>
			<section class="other" aria-label="Other Fun Stuff">
				<div class="sidebar">
					<h3>Neocities Profile</h3>
					<span class="sr-only">Go to Arietta's NeoCities profile</span>
					<a href="https://neocities.org/site/aristocratic-arietta" class="my-button">
						<img src="/buttons/aristocraticarietta.png" alt="">
					</a>
				</div>
				<RecentPosts/>
				<MyTime/>
			</section>
			<article class="home-page">
				<h1>Welcome to my page!</h1>
				<p>
					I'm Aristocratic Arietta, or Arietta for short, and this is my little corner of the internet. This website contains a bit of everything, from ramblings to art to code to other misc stuff that doesn't quite fit anywhere else. I'm trying to move away from traditional social media and challenging myself to develop a healthier relationship to the internet. By creating a website, I am making myself learn useful skills like HTML, CSS, and Javascript. I'm also hoping that this website will be a way to express my creativity and share my interests with the world. I have so many different interests, but I was finding it hard to share them with others because it felt like I had to choose one to be my "thing."
				</p>
				<blockquote>
					"A jack of all trades is a master of none, but oftentimes better than a master of one."
				</blockquote>
				<p>
					I'm hoping to share all of my interests here, and maybe make a few friends along the way. I am very social and I would love to hear from people who visit this website! I love receiving E-Mail, so please don't hesitate to reach out, even if just to say hello! Also, don't forget to share your website with me so that I can visit it too! Everyone is so creative here, and I always get so inspired by your websites!
				</p>
				<p>
					This website is a place for me to share my cool stuff and be inspired by other's creations! I plan to update this website often, whether it's with new blog posts or new pages. So check back often to see what's new! 
				</p>
			</article>
			<section class="other2">
				<LastFM />
				<div class="sidebar">
					<a href="https://aristocraticarietta.atabook.org/" class="guestbook">Sign my guestbook!</a>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
<style>
	.my-button {
		text-decoration: none;
	}
	.home-page {
		order: 1;
	}
	.other {
		order: 2;
		width: 100%;
	}
	.other2 {
		order: 3;
		width: 100%;
	}
	.guestbook {
		padding: 1em;
		font-size: 2em;
		line-height: 1;
		font-weight: 700;
	}
@media (min-width: 1000px) {
	.home-page {
		max-width: max-content;
		order: 2;
	}
	.other {
		max-width: 20%;
		order: 1;
	}
	.other2 {
		max-width: 20%;
		order: 3;
	}
}
</style>
