---
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import LastFM from '@components/LastFM.astro';
import MyTime from '@components/MyTime.astro';
import Navigation from '@components/Nav.astro';
import RecentPosts from '@components/RecentPosts.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@src/consts';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog')
const recentPosts = allPosts
	.sort((a, b) => +new Date(b.data.pubDate) - +new Date(a.data.pubDate))
	.slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Navigation />
		<main>
			<section class="other" aria-label="Other Fun Stuff">
				<div class="sidebar">
					<h3>Neocities Profile</h3>
					<span class="sr-only">Go to Arietta's NeoCities profile</span>
					<a href="https://neocities.org/site/aristocratic-arietta" class="my-button">
						<img src="/buttons/aristocraticarietta.gif" alt="Aristocratic Arietta">
					</a>
				</div>
				<RecentPosts/>
				<MyTime/>
			</section>
			<article class="home-page">
				<h1>Welcome to my page!</h1>
				<p>
					I'm Aristocratic Arietta, or Arietta for short, and this is my little corner of the internet. This website contains a bit of everything, from ramblings to art to code to other misc stuff that doesn't quite fit anywhere else. I'm trying to move away from traditional social media and challenging myself to develop a healthier relationship to the internet. By creating a website, I am making myself learn useful skills like HTML, CSS, and Javascript. I'm also hoping that this website will be a way to express my creativity and share my interests with the world.
				</p>
				<h3>
					What's this site about?
				</h3>
				<p>
					This is my personal blog with lots of somewhat informative rants about music, historical and modern fashion, and film with more to come. I really enjoy collecting and learning about fashion from all different time periods and will probably post about that a lot. I also will post pictures, music + film reviews, rants, and other fun things that I find interesting. Stay tuned for more!
				</p>
				<p>
					This website is a place for me to share my cool stuff and be inspired by other's creations! I plan to update this website often, whether it's with new blog posts or new pages. So check back often to see what's new! 
				</p>
				<h3>What's new?</h3>
				<p>
					<ul>
						<li><a href="/blog/1995-mugler">New Post!</a> (19 July 2026)</li>
						<li>Added search by tag functionality to blog posts (17 July 2026)</li>
						<li><a href="/blog/photo-dump-1">New Post!</a> (16 July 2026)</li>
						<li>Updated site coloring to be more accessible (15 July 2026)</li>
						<li>Added Last.FM widget to home page, <a href="/fun-stuff/games">new games page</a>, and <a href="/blog/amc-a-list">new post!</a> (14 July 2026)</li>
					</ul>
				</p>
				<h3>
					Say hello!
				</h3>
				<p>
					I'm hoping to share all of my interests here, and maybe make a few friends along the way. I am very social and I would love to hear from people who visit this website! <a href="mailto:aristocraticarietta@proton.me">I love receiving E-Mail</a> and <a href="https://aristocraticarietta.atabook.org/">messages in my guestbook</a>, so please don't hesitate to reach out, even if just to say hello! You can also contact me on Matrix: <u>@aristocratic-arietta:mozilla.org</u>!
				</p>
			</article>
			<section class="other2">
				<LastFM />
				<div class="sidebar">
					<a href="https://aristocraticarietta.atabook.org/" class="guestbook"><h3>Sign my guestbook!</h3></a>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
<style>
	.my-button {
		text-decoration: none;
	}
	.my-button img {
		width: 88px;
		height: 31px;
		image-rendering: pixelated;
	}
	.home-page {
		order: 1;
	}
	.other {
		order: 2;
		width: 100%;
	}
	.other2 {
		order: 3;
		width: 100%;
	}
	.guestbook {
		padding: 1em;
		font-weight: 700;
	}
@media (min-width: 1000px) {
	.home-page {
		max-width: max-content;
		order: 2;
	}
	.other {
		max-width: 20%;
		order: 1;
	}
	.other2 {
		max-width: 20%;
		order: 3;
	}
}
</style>
