---
import FunStuff from "@layouts/FunStuff.astro";
---
<FunStuff title="Sitemap">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <ul>
            <li><a href="/blog/fav-videos-jul-26">Favorite Videos: July 2026</a></li>
            <li><a href="/blog/amc-a-list">AMC's A-List: Best thing ever?</a></li>
        </ul>
        <li><a href="/about">About</a></li>
        <li><a href="/fun-stuff">Fun Stuff</a></li>
        <ul>
            <li><a href="/fun-stuff/blinkies">Blinkies</a></li>
            <li><a href="/fun-stuff/buttons">Buttons</a></li>
            <li><a href="/fun-stuff/chat">Chat</a></li>
            <li><a href="/fun-stuff/fanlistings">Fanlistings</a></li>
            <li><a href="/fun-stuff/games">Games</a></li>
            <li><a href="/fun-stuff/pixel-cliques">Pixel Cliques</a></li>
            <li><a href="/fun-stuff/shrines">Shrines</a></li>
            <ul>
                <li>
                    <a href="/fun-stuff/shrines/atomic-blonde">Atomic Blonde (2017)</a>
                </li>
                <ul>
                    <li>
                        <a href="/fun-stuff/shrines/atomic-blonde/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/fun-stuff/shrines/atomic-blonde/soundtrack">Soundtrack</a>
                    </li>
                    <li>
                        <a href="/fun-stuff/shrines/atomic-blonde/videos">Videos</a>
                    </li>
                </ul>
                <li>
                    <a href="/fun-stuff/shrines/marie-antoinette">Marie Antoinette</a>
                </li>
                <ul>
                    <li>
                        <a href="/fun-stuff/shrines/atomic-blonde/her-life">Her Life</a>
                    </li>
                    <li>
                        <a href="/fun-stuff/shrines/atomic-blonde/portraits">Portraits</a>
                    </li>
                    <li>
                        <a href="/fun-stuff/shrines/atomic-blonde/fashion">Fashion</a>
                    </li>
                </ul>
            </ul>
            <li><a href="/fun-stuff/stamps">Stamps</a></li>
            <li><a href="/fun-stuff/webrings">Webrings</a></li>
        </ul>
        <li><a href="/misc">Miscellaneous</a></li>
        <ul>
            <li><a href="/misc/my-code-artwork">My Code/Art Usage Terms</a></li>
        </ul>
        <li><a href="/sitemap-0.xml">XML Sitemap</a></li>
        <li><a href="/rss.xml">RSS Feed</a></li>
    </ul>
</FunStuff>