---
import FunStuff from "@layouts/FunStuff.astro";
---

<FunStuff title="Blinkies">
    <h4 class="blinkies-header">Blinkies I've made</h4>
    <div class="blinkies">
        <a href="https://aristocratic-arietta.neocities.org">
            <img src="/blinkies/AA Blinkie.gif" alt="Aristocratic Arietta">
        </a>
        <a href="https://aristocratic-arietta.neocities.org/rss.xml">
            <img src="/blinkies/getmyrssfeed.gif" alt="Get My RSS Feed">
        </a>
        <img src="/blinkies/Cinderella Blinkie.gif" alt="Cinderella 2015 Mega-Fan!">
        <img src="/blinkies/djt-robin-hood.gif" alt="Donald J Trump: Robin Hood in reverse">
        <img src="/blinkies/ilovecss.gif" alt="I Love CSS">
        <img src="/blinkies/ilovehtml.gif" alt="I Love HTML">
        <img src="/blinkies/iloveminecraft.gif" alt="I Love Minecraft">
        <img src="/blinkies/madewithastro.gif" alt="Made with Astro">
    </div>
    <hr>
    <h4 class="blinkies-header">Blinky Collection</h4>
    <div class="blinkies">
        <a href="https://blinkies.cafe">
            <img src="/blinkies/0121-blinkiescafe.gif" alt="Blinkies Cafe">
        </a>
        <img src="/blinkies/0032-coffeecup.gif" alt="need moar coffee">
        <img src="/blinkies/0038-exitbutton2.gif" alt="don't like, don't read">
        <img src="/blinkies/0068-mainframe.gif" alt="Command.exe">
        <img src="/blinkies/0113-autism.gif" alt="Autism!">
        <img src="/blinkies/0131-rarity.gif" alt="Rarity">
        <img src="/blinkies/0196-browndog.gif" alt="I love my doggie!">
        <img src="/blinkies/asshole.gif" alt="I didn't elect that asshole">
        <img src="/blinkies/blink47.gif" alt="I'm not weird, I'm gifted.">
        <img src="/blinkies/blinkiesCafe-eB.gif" alt="Proud Libra!">
        <img src="/blinkies/bumpinthat.webp" alt="bumpin' that">
        <img src="/blinkies/causesblink5.gif" alt="Stop Internet Censorship">
        <img src="/blinkies/CCCConciousness.gif" alt="That annoying time between naps: consciousness">
        <img src="/blinkies/censorship.gif" alt="censorship kills creativity">
        <img src="/blinkies/ChronicallyOnline.gif" alt="Chronically Online">
        <img src="/blinkies/Cinderella2015.gif" alt="Cinderella 2015">
        <img src="/blinkies/choiceblinkie.gif" alt="pro choice or no choice">
        <img src="/blinkies/DontRainOnMyParade.gif" alt="Don't rain on my parade">
        <img src="/blinkies/dvdcrazy.gif" alt="DVD crazy!">
        <img src="/blinkies/englandsrose.gif" alt="England's Rose Forever: 1961-1997">
        <img src="/blinkies/equality.gif" alt="Demand Equality">
        <img src="/blinkies/fppblinky-8.gif" alt="Princess">
        <img src="/blinkies/freedomchoice.gif" alt="Freedom means CHOICE">
        <img src="/blinkies/girls_kick_ass.gif" alt="Girls kick ass">
        <img src="/blinkies/google.gif" alt="Google is my friend!">
        <img src="/blinkies/hobbieblink49.gif" alt="History Addict">
        <img src="/blinkies/hood_vh.gif" alt="George W Bush: Robin Hood in reverse">
        <img src="/blinkies/horse.gif" alt="I Love Horses">
        <img src="/blinkies/horse2.gif" alt="Run for the Roses">
        <img src="/blinkies/idiot-free.gif" alt="Partnership for an idiot-free America">
        <img src="/blinkies/IfTheShoeFits.gif" alt="If the shoe fits...">
        <img src="/blinkies/ILoveE-Mail.gif" alt="I love e-mail!">
        <img src="/blinkies/kmp_jamie15.gif" alt="Don't fuck with me, I haven't had my coffee">
        <img src="/blinkies/marchmad.gif" alt="March Madness">
        <img src="/blinkies/mess_photographer.gif" alt="Don't mess with the photographer">
        <img src="/blinkies/miscblink65.gif" alt="Kerry-Edwards 2004">
        <img src="/blinkies/music3.gif" alt="I love the Music!">
        <img src="/blinkies/nap.gif" alt="When in doubt, take a nap!">
        <img src="/blinkies/nlanimalhouse.gif" alt="Animal House">
        <img src="/blinkies/noshitsherlockblink.gif" alt="No shit Sherlock">
        <img src="/blinkies/oneterm_blinky.gif" alt="Like father, like son: ONE TERM!">
        <img src="/blinkies/religiousright.gif" alt="Doing my part to piss off the religious right">
        <img src="/blinkies/s95blinkie5.gif" alt="I Love Tea">
        <img src="/blinkies/shoolhouserock.gif" alt="Schoolhouse Rock">
        <img src="/blinkies/starbucksblink.gif" alt="Salivate for StarBucks">
        <img src="/blinkies/takemyadvice.gif" alt="Take my advice, I don't use it anyways.">
        <img src="/blinkies/teacookieblink.gif" alt="Tea and Cookie Addict">
        <img src="/blinkies/vote.gif" alt="Register to Vote">
        <img src="/blinkies/vote2.gif" alt="If you don't vote, don't complain!">
        <img src="/blinkies/vote04_blinky.gif" alt="Vote '04 - anyone but Bush">
        <img src="/blinkies/votebitch.gif" alt="If you don't vote, you can't bitch!">
        <img src="/blinkies/wellbehaved2.gif" alt="Well behaved women rarely make history">
    </div>
</FunStuff>
<style>
    img {
        width: 150px;
        height: 20px;
        image-rendering: pixelated;
    }
    .blinkies {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
        line-height: 1rem;
        text-decoration: none;
        padding: 0.5em 1em;
    }
    .blinkies-header {
        text-align: center;
    }
</style>