---
import FunStuff from "@layouts/FunStuff.astro";
---

<FunStuff title="Blinkies">
    <h4 class="blinkies-header">Blinkies I've made</h4>
    <div class="blinkies">
        <a href="https://aristocratic-arietta.neocities.org"  target="_self">
            <img src="/blinkies/AA Blinkie.gif" alt="">
        </a>
        <a href="https://aristocratic-arietta.neocities.org/rss.xml"  target="_self">
            <img src="/blinkies/getmyrssfeed.gif" alt="">
        </a>
        <img src="/blinkies/Cinderella Blinkie.gif" alt="">
        <img src="/blinkies/djt-robin-hood.gif" alt="">
        <img src="/blinkies/ilovecss.gif" alt="">
        <img src="/blinkies/ilovehtml.gif" alt="">
        <img src="/blinkies/iloveminecraft.gif" alt="">
        <img src="/blinkies/madewithastro.gif" alt="">
    </div>
    <hr>
    <h4 class="blinkies-header">Blinky Collection</h4>
    <div class="blinkies">
        <a href="https://blinkies.cafe"  target="_self">
            <img src="/blinkies/0121-blinkiescafe.gif" alt="">
        </a>
        <img src="/blinkies/0032-coffeecup.gif" alt="">
        <img src="/blinkies/0038-exitbutton2.gif" alt="">
        <img src="/blinkies/0068-mainframe.gif" alt="">
        <img src="/blinkies/0113-autism.gif" alt="">
        <img src="/blinkies/0131-rarity.gif" alt="">
        <img src="/blinkies/0196-browndog.gif" alt="">
        <img src="/blinkies/asshole.gif" alt="">
        <img src="/blinkies/blink47.gif" alt="">
        <img src="/blinkies/blinkiesCafe-eB.gif" alt="">
        <img src="/blinkies/causesblink5.gif" alt="">
        <img src="/blinkies/CCCConciousness.gif" alt="">
        <img src="/blinkies/censorship.gif" alt="">
        <img src="/blinkies/ChronicallyOnline.gif" alt="">
        <img src="/blinkies/Cinderella2015.gif" alt="">
        <img src="/blinkies/choiceblinkie.gif" alt="">
        <img src="/blinkies/DontRainOnMyParade.gif" alt="">
        <img src="/blinkies/dvdcrazy.gif" alt="">
        <img src="/blinkies/englandsrose.gif" alt="">
        <img src="/blinkies/equality.gif" alt="">
        <img src="/blinkies/fppblinky-8.gif" alt="">
        <img src="/blinkies/freedomchoice.gif" alt="">
        <img src="/blinkies/girls_kick_ass.gif" alt="">
        <img src="/blinkies/google.gif" alt="">
        <img src="/blinkies/hobbieblink49.gif" alt="">
        <img src="/blinkies/hood_vh.gif" alt="">
        <img src="/blinkies/horse.gif" alt="">
        <img src="/blinkies/horse2.gif" alt="">
        <img src="/blinkies/idiot-free.gif" alt="">
        <img src="/blinkies/IfTheShoeFits.gif" alt="">
        <img src="/blinkies/ILoveE-Mail.gif" alt="">
        <img src="/blinkies/kmp_jamie15.gif" alt="">
        <img src="/blinkies/marchmad.gif" alt="">
        <img src="/blinkies/mess_photographer.gif" alt="">
        <img src="/blinkies/miscblink65.gif" alt="">
        <img src="/blinkies/music3.gif" alt="">
        <img src="/blinkies/nap.gif" alt="">
        <img src="/blinkies/nlanimalhouse.gif" alt="">
        <img src="/blinkies/noshitsherlockblink.gif" alt="">
        <img src="/blinkies/oneterm_blinky.gif" alt="">
        <img src="/blinkies/religiousright.gif" alt="">
        <img src="/blinkies/s95blinkie5.gif" alt="">
        <img src="/blinkies/shoolhouserock.gif" alt="">
        <img src="/blinkies/starbucksblink.gif" alt="">
        <img src="/blinkies/takemyadvice.gif" alt="">
        <img src="/blinkies/teacookieblink.gif" alt="">
        <img src="/blinkies/vote.gif" alt="">
        <img src="/blinkies/vote2.gif" alt="">
        <img src="/blinkies/vote04_blinky.gif" alt="">
        <img src="/blinkies/votebitch.gif" alt="">
        <img src="/blinkies/wellbehaved2.gif" alt="">
        <img src="/blinkies/bumpinthat.webp" alt="">
    </div>
</FunStuff>
<style>
    img {
        width: 150px;
        height: 20px;
        image-rendering: pixelated;
    }
    .blinkies {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
        line-height: 1rem;
        text-decoration: none;
        padding: 0.5em 1em;
    }
    .blinkies-header {
        text-align: center;
    }
</style>