---
import FunStuff from "@layouts/FunStuff.astro";
---

<FunStuff title="Buttons">
    <h4 class="buttons-header">Buttons I've made</h4>
    <div class="buttons">
        <a href="https://aristocratic-arietta.neocities.org/"  target="_self">
            <img src="/buttons/aristocraticarietta.png" alt="">
        </a>
    </div>
    <h4 class="buttons-header">Button Collection</h4>
    <div class="buttons">
        <a href='https://blinkies.cafe'  target="_self">
            <img src='https://blinkies.cafe/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe | make your own blinkies!'>
        </a>
        <a href="https://nukochannel.neocities.org" target="_self">
            <img src="https://nukochannel.neocities.org/NukoChannelButton.gif">
        </a>
        <a href="https://xobyte.com" target="_self">
            <img src="/buttons/xobyte-min.gif" alt="">
        </a>
        <a href="https://subtopia.neocities.org/">
            <img src="/buttons/subtopiabutton3.png" alt="">
        </a>
        <img src="/buttons/now20.gif" alt="">
    </div>
</FunStuff>
<style>
    img {
        width: 88px;
        height: 31px;
    }
    .buttons {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
        line-height: 1rem;
        text-decoration: none;
        padding: 0.5em 1em;
    }
    .buttons-header {
        text-align: center;
    }
</style>