---
import FunStuff from "@layouts/FunStuff.astro";
---

<FunStuff title="Buttons">
    <h4 class="buttons-header">Buttons I've made</h4>
    <div class="buttons">
        <a href="https://aristocratic-arietta.neocities.org/">
            <img src="/buttons/aristocraticarietta.gif" alt="Aristocratic Arietta">
        </a>
    </div>
    <h4 class="buttons-header">Button Collection</h4>
    <div class="buttons">
        <a href='https://blinkies.cafe'>
            <img src='https://blinkies.cafe/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe | make your own blinkies!'>
        </a>
        <a href="https://nukochannel.neocities.org">
            <img src="https://nukochannel.neocities.org/NukoChannelButton.gif" alt="Nuko Channel">
        </a>
        <a href="https://xobyte.com">
            <img src="/buttons/xobyte-min.gif" alt="Xobyte">
        </a>
        <a href="https://subtopia.neocities.org/">
            <img src="/buttons/subtopiabutton3.png" alt="Subtopia">
        </a>
        <a href="https://www.jewishvoiceforpeace.org/take-action/#act-now">
            <img src="/buttons/bufreepalestine.gif" alt="Free Palestine Now!!!">
        </a>
        <a href="https://hillhouse.neocities.org/">
            <img src="/buttons/hillhouse5.png" alt="Hill House">
        </a>
        <a href="https://dimden.dev/">
            <img src="https://dimden.dev/services/images/88x31.gif" alt="dimden">
        </a>
        <a href="https://wynterskieslife.neocities.org/">
            <img src="/buttons/wynterskieslife.png" alt="Wynter Skies Life">
        </a>
        <a href="https://humanfinny.neocities.org/clubs/cd_world/cdworld_home">
            <img src="/buttons/cdworld.jpg" alt="CD World">
        </a>
        <a href="https://stimpop.nekoweb.org/">
            <img src="/buttons/stimpop.gif" alt="Stimpop">
        </a>
        <a href="https://bechnokid.com/">
            <img src="https://raw.githubusercontent.com/bechnokid/neocities/refs/heads/master/public/assets/images/button.png" alt="Bechnokid">
        </a>
        <a href="https://brainmade.org/">
            <img src="/buttons/brainmade.org-dark.png" alt="Brain Made">
        </a>
        <a href="https://harakiri.moe">
            <img src="/buttons/harakiri.png" alt="Harakiri">
        </a>
        <img src="/buttons/now20.gif" alt="Netscape Now!">
    </div>
</FunStuff>
<style>
    img {
        width: 88px;
        height: 31px;
        image-rendering: pixelated;
    }
    .buttons {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
        line-height: 1rem;
        text-decoration: none;
        padding: 0.5em 1em;
    }
    .buttons-header {
        text-align: center;
    }
</style>