---
import FunStuff from "@layouts/FunStuff.astro";
---

<FunStuff title="Fanlistings" >
    <div class="alpine-wrapper" x-data="{ bordersToggle: false }">
        <div class="key">
            <button @click="bordersToggle = !bordersToggle">Toggle Status Borders</button>
            <h5 x-show="bordersToggle">Green=accepted, yellow=pending, red=unknown</h5>
        </div>
        <div class="fanlistings-wrapper">
            <div class="fanlistings-category">
                <h4 class="fanlistings-header">My Favorites</h4>
                <div class="fanlistings">
                    <a href="https://www.into-a-dream.com.ar/rh/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/ritahayworth100x50.png" alt="" class="hundredxfifty">
                    </a>
                </div>
            </div>
            <div class="fanlistings-category">
                <h4 class="fanlistings-header">TV Shows/Movies</h4>
                <div class="fanlistings">
                    <a href="https://fanimated.net/mylittlepony/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/mlp50x50_18.gif" alt="">
                    </a>
                    <a href="https://www.ladyrose.buruma.net/tcm/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/tcm50x50.jpg" alt="">
                    </a>
                    <a href="https://www.violet-wings.net/anyamovie/" :class="{ 'red': bordersToggle }">
                        <img src="/fanlistings/anyamovie5050-6.png" alt="">
                    </a>
                    <a href="https://www.noble-scarlet.net/barbie/princesspauper/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/p&p50x50_001.gif" alt="">
                    </a>
                    <a href="https://noble-scarlet.net/barbie/pegasus/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/peg50x50_1.gif" alt="">
                    </a>
                    <a href="https://noble-scarlet.net/barbie/nutcracker/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/nutcrackerfan2.gif" alt="">
                    </a>
                    <a href="https://barbie.enchanted-rose.org/swan/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/swanlake50x50_5.jpg" alt="">
                    </a>
                    <a href="https://barbie.enchanted-rose.org/charmschool/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/charmschool5050_002.gif" alt="">
                    </a>
                    <a href="https://fanacular.net/cinderella/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/cinderella_50_4.png" alt="">
                    </a>
                    <a href="https://10-31.net/jenn/cinderella2015" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/cinderella20155050_02.png" alt="">
                    </a>
                    <a href="https://thewildrose.org/enchanted/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/enchanted5050_28.png" alt="">
                    </a>
                    <a href="https://10-31.net/chelsea/princesses/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/princesses50x50_42.gif" alt="">
                    </a>
                    <a href="https://fan.koukeisha.net/jr-fanlisting/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/jessica50x50.png" alt="">
                    </a>
                    <a href="https://inkcaps.neocities.org/gf/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/gravityfalls50x50.png" alt="">
                    </a>
                    <a href="https://unicorn.wings.nu/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/lastunicorn50x50.png" alt="">
                    </a>
                    <a href="https://moomins.fanfreak.net/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/moomin50x50.png" alt="">
                    </a>
                </div>
            </div>
            <div class="fanlistings-category">
                <h4 class="fanlistings-header">Animals</h4>
                <div class="fanlistings">
                    <a href="https://fan.glast-heim.net/equines//index.php" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/equines50x50.jpg" alt="">
                    </a>
                    <a href="https://laika.wings.nu/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/laika50x50_2.png" alt="">
                    </a>
                </div>
            </div>
            <div class="fanlistings-category">
                <h4 class="fanlistings-header">People</h4>
                <div class="fanlistings">
                    <a href="https://memories.buruma.net/julie" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/julie50x50.gif" alt="">
                    </a>
                    <a href="https://www.enamoured.co.uk/marlene/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/dietrich50x50.jpg" alt="">
                    </a>
                    <a href="https://snl-tribute.network/cast/fey/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/tinafey50x50.jpg" alt="">
                    </a>
                    <a href="https://www.ladyrose.buruma.net/garland" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/judygarland50x50.png" alt="">
                    </a>
                    <a href="https://imaginary.nu/stone/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/emmastone50x50.png" alt="">
                    </a>
                    <a href="https://www.ladyrose.buruma.net/madonna" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/madonna50x50.png" alt="">
                    </a>
                    <a href="https://fan.enamour.nu/gaga" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/ladygaga50x50.png" alt="">
                    </a>
                    <a href="https://www.ladyrose.buruma.net/vivienleigh/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/vivienleigh50x50.jpg" alt="">
                    </a>
                    <a href="https://imaginary.nu/hathaway/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/annehathaway50x50.png" alt="">
                    </a>
                    <a href="https://www.ladyrose.buruma.net/princessgrace/princess" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/princessgrace50x50.png" alt="">
                    </a>
                    <a href="https://aeroxea.neocities.org/fanlistings/audrey" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/audreyhepburn50x50.png" alt="">
                    </a>
                    <a href="https://movies.i-heart-you.net/ralphfiennes/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/ralphfiennes50x50.gif" alt="">
                    </a>
                    <a href="https://gina.fanacular.net/domhnall/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/domhnallgleeson50x50.png" alt="">
                    </a>
                </div>
            </div>
            <div class="fanlistings-category">
                <h4 class="fanlistings-header">Music</h4>
                <div class="fanlistings">
                    <a href="https://fan.yerfej.org/artpop/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/artpop50x50.png" alt="">
                    </a>
                    <a href="https://fan.yerfej.org/coad/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/coadf50x50.png" alt="">
                    </a>
                    <a href="https://shadow-lord.com/rol/" :class="{ 'green': bordersToggle }">
                        <img src="/fanlistings/rol50x50.png" alt="">
                    </a>
                    <a href="https://www.ladyrose.buruma.net/jlp/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/jagged-50x50-1.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="fanlistings-category">
                <h4 class="fanlistings-header">Art</h4>
                <div class="fanlistings">
                    <a href="https://fan.enamour.nu/web/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/webdesign50x50.png" alt="">
                    </a>
                    <a href="https://bloodkisses.com/bw/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/b&w50x50.png" alt="">
                    </a>
                    <a href="https://10-31.net/chelsea/ballet/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/ballet50x50.jpg" alt="">
                    </a>
                    <a href="https://www.theatricality.co.uk/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/theatre50x50.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="fanlistings-category">
                <h4 class="fanlistings-header">Fashion</h4>
                <div class="fanlistings">
                    <a href="https://mikh.net/corsets/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/corsets50x50.png" alt="">
                    </a>
                    <a href="https://totallygirl.net/red/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/redlipstick50x50.png" alt="">
                    </a>
                    <a href="https://bloodkisses.com/shoes/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/shoes50x50.png" alt="">
                    </a>
                </div>
            </div>
            <div class="fanlistings-category">
                <h4 class="fanlistings-header">Misc</h4>
                <div class="fanlistings">
                    <a href="https://fans.thislove.nu/html/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/html50x50_001.png" alt="">
                    </a>
                    <a href="https://fans.thislove.nu/mozilla" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/firefox50x50_009.png" alt="">
                    </a>
                    <a href="https://theatregirl.net/german/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/gemary50x50-01.gif" alt="">
                    </a>
                    <a href="https://sireneyes.me/chemistry/" :class="{ 'yellow': bordersToggle }">
                        <img src="/fanlistings/chemistry50x50-1.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</FunStuff>
<style>
    .fanlistings-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-items: start;
        gap: 0.5em;
    }
    .fanlistings-category {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0.5em;
    }
    .fanlistings {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        line-height: 1rem;
        text-decoration: none;
        padding: 0.5em;
        border: var(--border-glass);
        border-radius: var(--radius-glass);
        background-color: var(--bg-glass);
    }
    img {
        width: 50px;
        height: 50px;
        display: block;
    }
    img.hundredxfifty {
        width: 100px;
        height: 50px;
    }    
    .fanlistings-header {
        text-align: center;
    }
    .green {
        border: 0.25em solid green;
    }
    .yellow {
        border: 0.25em solid yellow;
    }
    .red {
        border: 0.25em solid red;
    }
    a {
        width: fit-content;
        height: fit-content;
    }
    .key {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }
    @media (min-width: 1000px) {
        .fanlistings-wrapper {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(auto, 1fr);
        }
        .fanlistings-category {
            width: 100%;
        }
    }
</style>