---
import FunStuff from "@layouts/FunStuff.astro";
---
<FunStuff title="Pixel Cliques">
    <div class="pixel-cliques-header">
        <h4>CDwORLD</h4>
        <a href="https://humanfinny.neocities.org/clubs/cd_world/cdworld_home">Clique page</a>
        <br>
        <i>Side note: I have applied to join but have not been accepted yet.</i>
    </div>
    <div class="pixel-cliques">
        <a href="https://armxnd.neocities.org/">
            <img src="/pixel-cliques/cdworld-brat.png" alt="brat by Charli xcx (made by Armxnd)" title="brat by Charli xcx (made by Armxnd)" class="cd">
        </a>
        <a href="https://armxnd.neocities.org/">
            <img src="/pixel-cliques/cdworld-artpop.png" alt="Artpop by Lady Gaga (made by Armxnd)" title="Artpop by Lady Gaga (made by Armxnd)" class="cd">
        </a>
        <a href="https://wynterskieslife.neocities.org/">
            <img src="/pixel-cliques/cdworld-imaginaldisk.png" alt="Imaginal Disk by Magdalena Bay (made by Wynter Skies)" title="Imaginal Disk by Magdalena Bay (made by Wynter Skies)" class="cd">
        </a>
        <a href="https://wynterskieslife.neocities.org/">
            <img src="/pixel-cliques/cdworld-mayhem.png" alt="Mayhem by by Lady Gaga (made by Wynter Skies)" title="Mayhem by Lady Gaga (made by Wynter Skies)" class="cd">
        </a>
        <a href="https://alphacarinae.neocities.org/">
            <img src="/pixel-cliques/cdworld-hamilton.png" alt="Hamilton (original Broadway cast recording) (made by alpha carinae)" title="Hamilton (original Broadway cast recording) (made by alpha carinae)" class="cd">
        </a>
        <a href="https://alphacarinae.neocities.org/">
            <img src="/pixel-cliques/cdworld-pureheroine.png" alt="Pure Heroine by Lorde (made by alpha carinae)" title="Pure Heroine by Lorde (made by alpha carinae)" class="cd">
        </a>
        <a href="https://shy.house/">
            <img src="/pixel-cliques/cdworld-bratdifferent.jpg" alt="brat and it's completely different but also still brat by Charli xcx (made by shyguy)" title="brat and it's completely different but also still brat by Charli xcx (made by shyguy)" class="cd">
        </a>
        <a href="https://shy.house/">
            <img src="/pixel-cliques/cdworld-foodhouse.jpg" alt="foodhouse by foodhouse (made by shyguy)" title="foodhouse by foodhouse (made by shyguy)" class="cd">
        </a>
        <a href="https://thisistherealskeeter.neocities.org/">
            <img src="/pixel-cliques/cdworld-rio.png" alt="Rio by Duran Duran (made by Skeeter)" title="Rio by Duran Duran (made by Skeeter)" class="cd">
        </a>
        <a href="https://bechnokid.com/">
            <img src="/pixel-cliques/cdworld-onemoretime.png" alt="...Baby One More Time by Britney Spears (made by Bechnokid)" title="...Baby One More Time by Britney Spears (made by Bechnokid)" class="cd">
        </a>
    </div>
    <div class="pixel-cliques-headeer">
        <h4>CDs I've made</h4>
    </div>
    <div class="pixel-cliques">
        
        <img src="/pixel-cliques/cdworld-atomicblonde.png" alt="Atomic Blonde original motion picture soundtrack by Various Artists (made by me)" title="Atomic Blonde original motion picture soundtrack by Various Artists (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-electraheart.png" alt="Electra Heart by Marina and the Diamonds (made by me)" title="Electra Heart by Marina and the Diamonds (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-princessofpower.png" alt="PRINCESS OF POWER by MARINA (made by me)" title="PRINCESS OF POWER by MARINA (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-rayoflight.png" alt="Ray of Light by Madonna (made by me)" title="Ray of Light by Madonna (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-coadf.png" alt="Confessions on a Dancefloor by Madonna (made by me)" title="Confessions on a Dancefloor by Madonna (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-confessionsii.png" alt="Confessions II by Madonna (made by me)" title="Confessions II by Madonna (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-slayyyter.png" alt="Slayyyter (mixtape) by Slayyyter (made by me)" title="Slayyyter (mixtape) by Slayyyter (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-troubledparadise.png" alt="Troubled Paradise by Slayyyter (made by me)" title="Troubled Paradise by Slayyyter (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-starfucker.png" alt="Starf*cker by Slayyyter (made by me)" title="Starf*cker by Slayyyter (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-wgia.png" alt="WORST GIRL IN AMERICA by Slayyyter (made by me)" title="WOR$T GIRL IN AMERICA by Slayyyter (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-vroomvroom.png" alt="Vroom Vroom by Charli xcx (made by me)" title="Vroom Vroom by Charli xcx (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-pop2.png" alt="POP 2 by Charli xcx (made by me)" title="POP 2 by Charli xcx (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-no1angel.png" alt="Number 1 Angel by Charli xcx (made by me)" title="Number 1 Angel by Charli xcx (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-charli.png" alt="Charli by Charli xcx (made by me)" title="Charli by Charli xcx (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-hifn.png" alt="how i'm feeling now by Charli xcx (made by me)" title="how i'm feeling now by Charli xcx (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-crash.png" alt="Crash by Charli xcx (made by me)" title="Crash by Charli xcx (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-musicfashionfilm.png" alt="Music, Fashion, Film by Charli xcx (made by me)" title="Music, Fashion, Film by Charli xcx (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-born2die.png" alt="Born to Die by Lana Del Rey (made by me)" title="Born to Die by Lana Del Rey (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-paradise.png" alt="Paradise by Lana Del Rey (made by me)" title="Paradise by Lana Del Rey (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-ultraviolence.png" alt="Ultraviolence by Lana Del Rey (made by me)" title="Ultraviolence by Lana Del Rey (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-honeymoon.png" alt="Honeymoon by Lana Del Rey (made by me)" title="Honeymoon by Lana Del Rey (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-nfr.png" alt="Norman F***ing Rockwell! by Lana Del Rey (made by me)" title="Norman F***ing Rockwell! by Lana Del Rey (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-cotcc.png" alt="Chemtrails Over the Country Club by Lana Del Rey (made by me)" title="Chemtrails Over the Country Club by Lana Del Rey (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-bluebanisters.png" alt="Blue Banisters by Lana Del Rey (made by me)" title="Blue Banisters by Lana Del Rey (made by me)" class="cd">
        <img src="/pixel-cliques/cdworld-dykttatuob.png" alt="Did you know that there's a tunnel under Ocean Blvd by Lana Del Rey (made by me)" title="Did you know that there's a tunnel under Ocean Blvd by Lana Del Rey (made by me)" class="cd">
        
    </div>
    <div class="pixel-cliques-header">
        <h4>Made by a Girl</h4>
        <a href="https://grrrl.valentinely.cc/">Clique page</a>
    </div>
    <div class="pixel-cliques">
        <img src="/pixel-cliques/madebyagrrl.png" alt="Made by a Girl (Mine)" title="Made by a Girl (made by me)" class="madebyagrrl">
    </div>
</FunStuff>
<style>
    .cd {
        width: 90px;
        height: 80px;
        image-rendering: pixelated;
    }
    .madebyagrrl {
        width: 72px;
        height: 51px;
        image-rendering: pixelated;
    }
    .pixel-cliques {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
        line-height: 1rem;
        text-decoration: none;
        padding: 0.5em 1em;
    }
    .pixel-cliques-header {
        text-align: center;
    }
</style>