---
import FunStuff from "@layouts/FunStuff.astro";
---

<FunStuff title="Stamps">
   <h4 class="stamps-header">Stamps I've made</h4>
    <div class="stamps">
        <a href="https://aristocratic-arietta.neocities.org/"  target="_self">
            <img src="/stamps/made_with_js.png" alt="Made with JavaScript">
        </a>
    </div>
    <h4 class="stamps-header">Stamp Collection</h4>
    <div class="stamps">
        <a href="https://www.jewishvoiceforpeace.org/take-action/#act-now">
            <img src="/stamps/stampbehuman.jpg" alt="Be Human; Free Palestine!">
        </a>
    </div>
</FunStuff>
<style>
    img {
        width: 99px;
        height: 56px;
        image-rendering: pixelated;
    }
    .stamps {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
        line-height: 1rem;
        text-decoration: none;
        padding: 0.5em 1em;
    }
    .stamps-header {
        text-align: center;
    }
</style>