---
import FunStuff from "@layouts/FunStuff.astro";
import BucketWebring from "@components/webrings/Bucket.astro";
import WebmasterWebring from "@components/webrings/Webmaster.astro";
---

<FunStuff title="Webrings">
    <h4>Not every webring listed has accepted me yet, so not every link works!</h4>
    <div class="webrings">
        <div id="nuthead-ring">
            <script src="https://nuthead.neocities.org/ring/ring.js" is:inline></script>
        </div>
        <link rel="stylesheet" href="https://harakiri.moe/css/webring-widgets.css">
        <div class="cm-webring-box" id="classical-ring">
            <span class="cm-webring-links">
                <a href="https://harakiri.moe/classicalring">the classical music webring</a>
                <br/>
                <a href="https://harakiri.moe/classicalring?action=previous">prev</a>
                <a href="https://harakiri.moe/classicalring?action=random">random</a>
                <a href="https://harakiri.moe/classicalring?action=next">next</a>
            </span>
        </div>
        <div id="bonki-ring">
            <script type="text/javascript" src="https://bonkiscoolsite.neocities.org/bonkiring/bonkiring-widget.js" is:inline></script>
        </div>
        <BucketWebring />
        <div id="webmaster-ring">
            <WebmasterWebring />
        </div>
        <div id="palestinering">
            <a href="https://catboo.leprd.space/webring/redirect.php?prv&s=ara" title="previous">
                <img src="https://websitesforpalestine.neocities.org/widget/left.png" alt="previous">
            </a>
            <a href="https://websitesforpalestine.neocities.org/" target="_blank">
                <img src="https://websitesforpalestine.neocities.org/widget/center.png" alt="websites for a free palestine">
            </a>
            <a href="https://catboo.leprd.space/webring/redirect.php?nxt&s=ara" title="next">
                <img src="https://websitesforpalestine.neocities.org/widget/right.png" alt="next">
            </a>
        </div>
    </div>
</FunStuff>
<style>
    .webrings {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
        line-height: 1rem;
        text-decoration: none;
        padding: 0.5em 1em;
    }
    .cm-webring-links a {
        padding: 0 0.25em;
    }
    @media (min-width: 1000px) {
        .webrings {
            flex-direction: row;
        }
    }
</style>