---
import FunStuff from "@layouts/FunStuff.astro";
---

<FunStuff title="Webrings">
    <div class="webrings">
        <script src="https://nuthead.neocities.org/ring/ring.js" is:inline></script>
    </div>
</FunStuff>
<style>
    .webrings {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
        line-height: 1rem;
        text-decoration: none;
        padding: 0.5em 1em;
    }
</style>