:root {
    --ab-pink: #e35ee3;
    --ab-cyan: #01b4c8;
    --ab-black: #0d0f13;
    --ab-white: #ffffff;
    --ab-small: 0.15em;
    --ab-medium: 0.25em;
    --ab-large: 0.5em;
    --ab-border-white: var(--ab-large) solid var(--ab-white);
    --ab-border-white-small: var(--ab-medium) solid var(--ab-white);
    --ab-border-cyan: var(--ab-large) solid var(--ab-cyan);
    --ab-border-cyan-small: var(--ab-medium) solid var(--ab-cyan);
    --ab-border-pink: var(--ab-large) solid var(--ab-pink);
    --ab-border-pink-small: var(--ab-medium) solid var(--ab-pink);
    --ab-filter-white: drop-shadow(0 0 var(--ab-medium) var(--ab-white));
    --ab-filter-white-small: drop-shadow(0 0 var(--ab-small) var(--ab-white));
    --ab-filter-white-large: drop-shadow(0 0 var(--ab-large) var(--ab-white));
    --ab-filter-cyan: drop-shadow(0 0 var(--ab-medium) var(--ab-cyan));
    --ab-filter-cyan-small: drop-shadow(0 0 var(--ab-small) var(--ab-cyan));
    --ab-filter-cyan-large: drop-shadow(0 0 var(--ab-large) var(--ab-cyan));
    --ab-filter-pink: drop-shadow(0 0 var(--ab-medium) var(--ab-pink));
    --ab-filter-pink-small: drop-shadow(0 0 var(--ab-small) var(--ab-pink));
    --ab-filter-pink-large: drop-shadow(0 0 var(--ab-large) var(--ab-pink));
    --ab-text-stroke-cyan: 5px var(--ab-cyan);
    --ab-text-stroke-pink: 5px var(--ab-pink);
}
::selection {
    background-color: var(--ab-pink);
}
@keyframes neon-flicker-button {
    0% {
        border: 0.25em solid transparent;
        filter: none;
        color: transparent;
        box-shadow: none;
    }
    50% {
        border: var(--ab-border-white-small);
        filter: var(--ab-filter-white-small);
        color: var(--ab-white);
        box-shadow: inset 0 0 0.25em var(--ab-white);
    }
    100% {
        border: 0.25em solid transparent;
        filter: none;
        color: transparent;
        box-shadow: none;
    }
}
@keyframes neon-flicker-small {
    0% {
        border: 0.25em solid transparent;
        filter: none;
        -webkit-text-stroke: 5px transparent;
        color: transparent;
    }
    50% {
        border: var(--ab-border-white-small);
        filter: var(--ab-filter-white-small);
        -webkit-text-stroke: none;
        color: var(--ab-white);
    }
    100% {
        border: 0.25em solid transparent;
        filter: none;
        -webkit-text-stroke: 5px transparent;
        color: transparent;
    }
}
@keyframes neon-flicker {
    0% {
        border: 0.25em solid transparent;
        filter: none;
        -webkit-text-stroke: 5px transparent;
        color: transparent;
    }
    50% {
        border: var(--ab-border-white-small);
        filter: var(--ab-filter-white);
        -webkit-text-stroke: none;
        color: var(--ab-white);
    }
    100% {
        border: 0.25em solid transparent;
        filter: none;
        -webkit-text-stroke: 5px transparent;
        color: transparent;
    }
}
.ab-wrapper {
    padding: 4em;
    background-color: var(--ab-black);
    color: var(--ab-white);
    text-align: center;
    font: 1em/1.5 var(--font-roboto);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1em;
    box-sizing: border-box;
    width: 100%;
    overflow:visible;
}
.ab-header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    border: var(--ab-border-white);
    border-radius: 1em;
    filter: var(--ab-filter-white);
}
.ab-logo {
    width: 30%;
    height: auto;
}
.ab-nav {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 10;
    height: 3em;
    width: 3em;
}
.ab-nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: var(--ab-border-white-small);
    border-radius: 1em;
    filter: var(--ab-filter-white-small);
    gap: 0.5em;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
}
.ab-nav-hamburger {
    width: 2em;
    height: 0.25em;
    background-color: var(--ab-white);
    transform-origin: center;
    transition: all 0.3s ease-in;
}
.ab-span1.ab-mobile-active {
    transform: translate(0, 0.75em) rotate(45deg);
}
.ab-span2.ab-mobile-active {
    opacity: 0;
}
.ab-span3.ab-mobile-active {
    transform: translate(0, -0.75em) rotate(-45deg);
}
.ab-nav-link-container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100vw - 8em);
    height: calc(100vh - 8em);
    background: var(--ab-black);
    transform-origin: center;
    transition: all 0.3s ease-in;
    z-index: -1;
    padding: 4em;
}
.ab-nav-link-container:not(.ab-mobile-active) {
    transform: translateX(100%);
}
.ab-nav-link-container.ab-mobile-active {
    transform: translateX(0);
}
.ab-nav-link {
    color: var(--ab-white);
    text-decoration: none;
    border: var(--ab-border-white-small);
    border-radius: var(--radius-glass);
    padding: 0.75em;
    font: 2em/1 var(--font-againts);
    text-align: center;
    transition: all 0.2s ease-in;
    box-sizing: border-box;
    filter: var(--ab-filter-white);
    paint-order: stroke;
    transition: all 0.3s ease;
}
.ab-nav-link:hover {
    border: var(--ab-border-cyan-small);
    filter: var(--ab-filter-cyan);
    -webkit-text-stroke: var(--ab-text-stroke-cyan);
    animation: neon-flicker-small 0.15s ease-in-out 1;
}
.ab-nav-link-selected {
    -webkit-text-stroke: var(--ab-text-stroke-pink);
    border: var(--ab-border-pink-small);
    pointer-events: none;
}
.ab-nav-link-selected:hover {
    -webkit-text-stroke: var(--ab-text-stroke-pink);
    border: var(--ab-border-pink-small);
    pointer-events: none;
    cursor: not-allowed;
}
.ab-main {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 1em;
    border: var(--ab-border-white);
    border-radius: var(--radius-glass);
    filter: var(--ab-filter-white);
    box-sizing: border-box;
}
.ab-updates {
    width: 100%;
    margin: 0;
    padding: 1em;
    border: var(--ab-border-white);
    border-radius: var(--radius-glass);
    filter: var(--ab-filter-white);
    box-sizing: border-box;
}
.ab-updates .ab-ul {
    text-align: left;
}
.ab-metadata {
    font: 1em/1 var(--font-roboto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0;
    width: 100%;
    padding: 1em;
    border: var(--ab-border-white);
    border-radius: var(--radius-glass);
    filter: var(--ab-filter-white);
    box-sizing: border-box;
}
.ab-footer {
    width: 100%;
    border: var(--ab-border-white);
    border-radius: 1em;
    filter: var(--ab-filter-white);
    padding: 1em;
    box-sizing: border-box;
}
.ab-hr {
    border-color: var(--ab-pink);
    width: 50%;
}
.ab-h3 {
    font-size: 1.5em;
    color: var(--ab-white);
    font-family: var(--font-againts);
    -webkit-text-stroke: var(--ab-text-stroke-cyan);
    paint-order: stroke fill;
    letter-spacing: 0.15em;
}
.ab-h4 {
    font-weight: 600;
    font-family: var(--font-roboto);
}
.ab-p {
    color: var(--ab-white);
    text-align: justify;
}
.ab-ul, .ab-li {
    color: var(--ab-white);
}
.ab-caption {
    padding-bottom: 1em;
}
.ab-table {
    box-shadow: none;
}
.ab-th, .ab-td {
    background-color: transparent;
    text-align: center;
}
.ab-th {
	border-bottom: var(--ab-border-white-small);
}
.ab-tr {
	border-bottom: var(--ab-border-white-small);
}
.ab-td:nth-child(odd), .ab-th:nth-child(odd) {
	border-right: var(--ab-border-white-small);
}
.ab-td:nth-child(even), .ab-th:nth-child(even) {
	border-right: var(--ab-border-white-small);
}
.ab-tr:last-child, .ab-td:last-child, .ab-th:last-child {
	border-bottom: none;
    border-right: none;
}
.ab-th:first-child {
	border-bottom: var(--ab-border-white-small);
	border-right: var(--ab-border-white-small);
}
.ab-th:last-child {
	border-bottom: var(--ab-border-white-small);
	border-left: var(--ab-border-white-small);
}
.ab-tr:last-child .ab-td:first-child {
	border-top: var(--ab-border-white-small);
	border-right: var(--ab-border-white-small);
}
.ab-tr:last-child .ab-td:last-child {
	border-top: var(--ab-border-white-small);
	border-left: var(--ab-border-white-small);
	
}
.ab-td {
    text-align: center;
}
.ab-link {
    color: var(--ab-pink);
}
.ab-image {
    border-radius: var(--radius-glass);
    border: var(--ab-border-white-small);
    box-sizing: border-box;
}
.ab-figure {
    margin: 0;
}
.ab-figcaption {
    font-size: 0.75em;
    font-style: italic;
}
/* Carousel CSS */
.carousel-container { position: relative; width: 100%; overflow: hidden;}
.carousel-window { width: 100%; overflow: hidden; border-radius: var(--radius-glass); }
.carousel-track { display: flex; transition: transform 0.4s ease-in-out; }
.carousel-slide { min-width: 100%; }
.carousel-slide img { width: 100%; aspect-ratio: 2.39 / 1; object-fit: cover; display: block; }
.nav-btn {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background: var(--ab-black); 
    color: var(--ab-white); 
    border: var(--ab-border-white-small);
    box-shadow: inset 0 0 0.25em var(--ab-white);
    border-radius: 0.5em;
    filter: var(--ab-filter-white-small);
    font-size: 2em;
    line-height: 0.5em;
    aspect-ratio: 1 / 1;
    padding: 0.4em;
    cursor: pointer; 
    z-index: 10;
    transition: all 0.2s ease;
}
.nav-btn:hover {
    color: var(--ab-cyan);
    border: var(--ab-border-cyan-small);
    box-shadow: inset 0 0 0.25em var(--ab-cyan);
    filter: var(--ab-filter-cyan-small);
    animation: neon-flicker-button 0.15s ease 1;
}
.prev { left: 10px; } .next { right: 10px; }
.carousel-dots { display: flex; justify-content: center; gap: 0.5rem; margin-top: 1rem; }
.dot { 
    width: 1em; 
    height: 1em; 
    border-radius: 50%; 
    border: var(--ab-border-white-small); 
    background: transparent; 
    cursor: pointer; 
    padding: 0; 
    transition: all 0.2s ease;
}
.dot.active { border: var(--ab-border-cyan-small); }
.ab-pfp {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    width: 100px;
}
.ab-imdb {
    aspect-ratio: 2 / 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
}
.ab-screenwriters {
    list-style: none;
    padding: 0;
}
.ab-soundtrack-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 1em;
    justify-content: space-evenly;
    align-items: center;
    height: min-content;
    width: calc(100% - 2em);
}
.ab-soundtrack-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-regular);
}
.ab-soundtrack-iframe {
    width: auto;
    aspect-ratio: 1 / 1;
    min-height: 20px;
    max-height: 40vh;
}
.ab-video-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: min-content;
    width: calc(100% - 2em);
    margin: 1em;
    gap: 2em;
}
.ab-video-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-regular);
}
.ab-video-iframe {
    width: 100%;
    height: 100%;
}
@media (min-width: 1000px) {
    .ab-wrapper {
        padding: 4em;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        gap: 2em;
    }
    .ab-nav {
        position: relative;
        z-index: 1;
        height: fit-content;
        width: 100%;
        top: 0;
        right: 0;
    }
    .ab-nav-button {
        display: none;
    }
    .ab-nav-link-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        height: fit-content;
        background: none;
        z-index: 1;
        padding: 0;
        transform: none;
        gap: 2em;
    }
    .ab-nav-link-container:not(.ab-mobile-active) {
        transform: none;
    }
    .ab-nav-link-container.ab-mobile-active {
        transform: none;
    }
    .ab-nav-link {
        width: 100%;
    }
    .ab-main {
        width: auto;
        max-width: 75%;
        filter: var(--ab-filter-white-large);
    }
    .ab-updates {
        max-width: 20%;
        filter: var(--ab-filter-white-large);
    }
    .ab-metadata {
        flex-direction: row;
        align-items: start;
    }
    .ab-footer {
        filter: var(--ab-filter-white-large);
    }
    .ab-soundtrack-wrapper {
        flex-direction: row;
    }
    .ab-video-iframe {
        width: calc(75% - 2em);
    }
    .ab-video-container {
        flex-direction: row;
    }
    .ab-video-information {
        width: calc(25% - 2em);
    }
}