<div class="sidebar">
    <h4 class="blinkies-header">Blinkies that are cool</h4>
    <div class="blinkies">
        <a href="https://aristocraticarietta.neocities.org">
            <img src="src/assets/blinkies/AA Blinkie.gif" alt="">
        </a>
        <a href="https://blinkies.cafe">
            <img src="src/assets/blinkies/0121-blinkiescafe.gif" alt="">
        </a>
        <img src="src/assets/blinkies/0032-coffeecup.gif" alt="">
        <img src="src/assets/blinkies/0038-exitbutton2.gif" alt="">
        <img src="src/assets/blinkies/0068-mainframe.gif" alt="">
        <img src="src/assets/blinkies/0113-autism.gif" alt="">
        <img src="src/assets/blinkies/0131-rarity.gif" alt="">
        <img src="src/assets/blinkies/asshole.gif" alt="">
        <img src="src/assets/blinkies/blink47.gif" alt="">
        <img src="src/assets/blinkies/blinkiesCafe-eB.gif" alt="">
        <img src="src/assets/blinkies/blinkiesCafe-uB(1).gif" alt="">
        <img src="src/assets/blinkies/causesblink5.gif" alt="">
        <img src="src/assets/blinkies/CCCConciousness.gif" alt="">
        <img src="src/assets/blinkies/censorship.gif" alt="">
        <img src="src/assets/blinkies/choiceblinkie.gif" alt="">
        <img src="src/assets/blinkies/Cinderella Blinkie.gif" alt="">
        <img src="src/assets/blinkies/DontRainOnMyParade.gif" alt="">
        <img src="src/assets/blinkies/dvdcrazy.gif" alt="">
        <img src="src/assets/blinkies/englandsrose.gif" alt="">
        <img src="src/assets/blinkies/equality.gif" alt="">
        <img src="src/assets/blinkies/fppblinky-8.gif" alt="">
        <img src="src/assets/blinkies/freedomchoice.gif" alt="">
        <a href="https://aristocraticarietta.neocities.org/rss.xml">
            <img src="src/assets/blinkies/getmyrssfeed.gif" alt="">
        </a>
        <img src="src/assets/blinkies/girls_kick_ass.gif" alt="">
        <img src="src/assets/blinkies/google.gif" alt="">
        <img src="src/assets/blinkies/hobbieblink49.gif" alt="">
        <img src="src/assets/blinkies/hood_vh.gif" alt="">
        <img src="src/assets/blinkies/horse.gif" alt="">
        <img src="src/assets/blinkies/horse2.gif" alt="">
        <img src="src/assets/blinkies/idiot-free.gif" alt="">
        <img src="src/assets/blinkies/ilovecss.gif" alt="">
        <img src="src/assets/blinkies/ilovehtml.gif" alt="">
        <img src="src/assets/blinkies/iloveminecraft.gif" alt="">
        <img src="src/assets/blinkies/kmp_jamie15.gif" alt="">
        <img src="src/assets/blinkies/madewithastro.gif" alt="">
        <img src="src/assets/blinkies/marchmad.gif" alt="">
        <img src="src/assets/blinkies/mess_photographer.gif" alt="">
        <img src="src/assets/blinkies/miscblink65.gif" alt="">
        <img src="src/assets/blinkies/music3.gif" alt="">
        <img src="src/assets/blinkies/nap.gif" alt="">
        <img src="src/assets/blinkies/nlanimalhouse.gif" alt="">
        <img src="src/assets/blinkies/noshitsherlockblink.gif" alt="">
        <img src="src/assets/blinkies/oneterm_blinky.gif" alt="">
        <img src="src/assets/blinkies/religiousright.gif" alt="">
        <img src="src/assets/blinkies/s95blinkie5.gif" alt="">
        <img src="src/assets/blinkies/shoolhouserock.gif" alt="">
        <img src="src/assets/blinkies/starbucksblink.gif" alt="">
        <img src="src/assets/blinkies/takemyadvice.gif" alt="">
        <img src="src/assets/blinkies/teacookieblink.gif" alt="">
        <img src="src/assets/blinkies/vote.gif" alt="">
        <img src="src/assets/blinkies/vote2.gif" alt="">
        <img src="src/assets/blinkies/vote04_blinky.gif" alt="">
        <img src="src/assets/blinkies/votebitch.gif" alt="">
        <img src="src/assets/blinkies/wellbehaved2.gif" alt="">
    </div>
</div>
<style>
    img {
        width: 150px;
        height: 20px;
    }
    .blinkies {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
    }
    .blinkies-header {
        width: 100%;
    }
</style>