<div class="sidebar">
    <h4 class="buttons-header">Buttons I like</h4>
    <div class="buttons">
        <a href="https://aristocraticarietta.neocities.org/">
            <img src="src/assets/buttons/my_button.png" alt="">
        </a>
        <a href='https://blinkies.cafe'>
            <img src='https://blinkies.cafe/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe | make your own blinkies!'>
        </a>
    </div>
</div>
<style>
    img {
        width: 88px;
        height: 31px;
    }
    .buttons {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
    }
    .buttons-header {
        width: 100%;
    }
</style>