---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<h1 class="title"><a href="/">{SITE_TITLE}</a></h1>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.youtube.com/@Aristocratic_Arietta" target="_blank">
				<span class="sr-only">Find Arietta on YouTube</span>
				<svg viewBox="0 0 396.53 396.53" aria-hidden="true" width="32" height="32">
					<path fill="currentColor" d="M388.13,102.83c-4.64-17.09-17.67-30.41-35.05-35.05-30.7-8.4-154.96-8.4-154.96-8.4,0,0-123.97,0-154.67,8.4-17.09,4.63-30.41,17.96-35.34,35.05C0,133.53,0,198.12,0,198.12,0,198.12,0,262.71,8.11,293.71c4.92,16.8,18.25,30.41,35.34,35.05,30.7,8.4,154.67,8.4,154.67,8.4,0,0,124.26,0,154.96-8.4,17.38-4.63,30.41-18.25,35.05-35.05,8.4-30.99,8.4-95.59,8.4-95.59,0,0,0-64.59-8.4-95.29ZM158.73,257.79v-119.05l102.83,59.38-102.83,59.67Z"></path>
				</svg>
			</a>
			<a href="https://app.element.io/#/user/%40aristocratic-arietta%3Amozilla.org" target="_blank">
				<span class="sr-only">Find Arietta on Matrix/Element</span>
				<svg viewBox="0 0 520 520" aria-hidden="true" width="32" height="32">
					<path fill="currentColor" d="M 13.7,11.9 v 496.2 h 35.7 V 520 H 0 V 0 h 49.4 v 11.9 H 13.7 z"></path>
					<path fill="currentColor" d="M 166.3,169.2 v 25.1 h 0.7 c 6.7-9.6,14.8-17,24.2-22.2 c 9.4-5.3,20.3-7.9,32.5-7.9 c 11.7,0,22.4,2.3,32.1,6.8 c 9.7,4.5,17,12.6,22.1,24 c 5.5-8.1,13-15.3,22.4-21.5 c 9.4-6.2,20.6-9.3,33.5-9.3 c 9.8,0,18.9,1.2,27.3,3.6 c 8.4,2.4,15.5,6.2,21.5,11.5 c 6,5.3,10.6,12.1,14,20.6 c 3.3,8.5,5,18.7,5,30.7 v 124.1 h -50.9 V 249.6 c 0-6.2-0.2-12.1-0.7-17.6 c -0.5-5.5-1.8-10.3-3.9-14.3 c -2.2-4.1-5.3-7.3-9.5-9.7 c -4.2-2.4-9.9-3.6-17-3.6 c -7.2,0-13,1.4-17.4,4.1 c -4.4,2.8-7.9,6.3-10.4,10.8 c -2.5,4.4-4.2,9.4-5,15.1 c -0.8,5.6-1.3,11.3-1.3,17 v 103.3 h -50.9 v -104 c 0-5.5-0.1-10.9-0.4-16.3 c -0.2-5.4-1.3-10.3-3.1-14.9 c -1.8-4.5-4.8-8.2-9-10.9 c -4.2-2.7-10.3-4.1-18.5-4.1 c -2.4,0-5.6,0.5-9.5,1.6 c -3.9,1.1-7.8,3.1-11.5,6.1 c -3.7,3-6.9,7.3-9.5,12.9 c -2.6,5.6-3.9,13-3.9,22.1 v 107.6 h -50.9 V 169.2 H 166.3 z"></path>
					<path fill="currentColor" d="M 506.3,508.1 V 11.9 h -35.7 V 0 H 520 v 520 h -49.4 v -11.9 H 506.3 z"></path>
				</svg>
			</a>
			<a href="mailto:aristocraticarietta@proton.me" target="_blank">
				<span class="sr-only">Send Arietta an E-Mail</span>
				<svg viewBox="0 -960 960 960" aria-hidden="true" width="32" height="32">
					<path fill="currentColor" d="M146.67-160q-27 0-46.84-19.83Q80-199.67 80-226.67v-506.66q0-27 19.83-46.84Q119.67-800 146.67-800h666.66q27 0 46.84 19.83Q880-760.33 880-733.33v506.66q0 27-19.83 46.84Q840.33-160 813.33-160H146.67ZM480-454.67 146.67-670v443.33h666.66V-670L480-454.67Zm0-66.66 330.67-212H150l330 212ZM146.67-670v-63.33V-226.67-670Z"></path>
				</svg>
			</a>
			<a href="https://github.com/AristocraticArietta" target="_blank">
				<span class="sr-only">Find Arietta on GitHub</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
					<path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 1em 1em 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.title {
		margin: 0;
		text-align: center;
	}
	.title a {
		font: 2em var(--font-amarante);
		background: var(--title-background);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	a {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.internal-links {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.internal-links a {
		padding: 0.5em 1em;
		color: var(--black);
		border-bottom: 0.5em solid transparent;
		text-decoration: none;
		font-size: x-large;
	}
	.internal-links a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.social-links a {
		padding: 0.75em 0.5em;
		color: var(--black);
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
