<div class="sidebar">
    <h4 class="stamps-header">Stamps I've collected</h4>
    <div class="stamps">
        <img src="src/assets/stamps/my_stamp.png" alt="">
    </div>
</div>
<style>
    img {
        width: 99px;
        height: 56px;
    }
    .stamps {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
    }
    .stamps-header {
        width: 100%;
    }
</style>