---
import {Image} from "astro:assets";
import Header from "@components/shrines/ma/ma-header.astro"
import Nav from "@components/shrines/ma/ma-nav.astro"
import Footer from "@components/shrines/ma/ma-footer.astro"
import Shrines from "@layouts/Shrines.astro";
import VAM from "@components/shrines/ma/ma-vam.astro"
import "@styles/shrines/marie-antoinette.css";
---

<Shrines title="Marie Antoinette | Fashion">
    <div class="ma-wrapper" >
        <Header />
        <Nav />
        <main class="ma-main">
            <h3 class="ma-h3">The Fashion of Marie Antoinette</h3>
            <hr class="ma-hr">
            <h4 class="ma-h4">The Collections of the V&A Museum</h4>
            <p class="ma-p">While few garments that were worn by Marie Antoinette herself still exist today, we can still see how she might have dressed based on similar garments from that same time. Click on the cards to go to their respective V&A collections pages to learn more about the item and see more pictures.</p>
            <VAM />
        </main>
        <Footer />
    </div>
</Shrines>