---
import {Image} from "astro:assets";
import Header from "@components/shrines/ma/ma-header.astro"
import Nav from "@components/shrines/ma/ma-nav.astro"
import Footer from "@components/shrines/ma/ma-footer.astro"
import Shrines from "@layouts/Shrines.astro";
import "@styles/shrines/marie-antoinette.css";
---

<Shrines title="Marie Antoinette | Her Life">
    <div class="ma-wrapper" >
        <Header />
        <Nav />
        <main class="ma-main">
            <h3 class="ma-h3">Marie Antoinette's Life</h3>
            <hr class="ma-hr">
            <p class="ma-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur exercitationem nihil sed? Aliquam iure porro tempore unde amet molestiae praesentium nemo sint nobis deleniti reiciendis deserunt, nisi omnis voluptate autem?</p>
            <p class="ma-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus saepe iusto quaerat facere nihil, magni in ducimus doloremque optio harum dignissimos eaque placeat fuga culpa modi voluptatibus ut odit nostrum.</p>
            <p class="ma-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, reprehenderit molestias, pariatur debitis earum, maiores alias harum soluta sapiente fugiat veritatis recusandae id aliquid sint repellat facilis molestiae quisquam dolore!</p>
            <p class="ma-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia sequi necessitatibus, dolorum voluptatibus labore officia odit commodi optio natus ducimus placeat maxime debitis similique iste veritatis delectus, voluptatum perspiciatis rerum?</p>
        </main>
        <Footer />
    </div>
</Shrines>