---
import {Image} from "astro:assets";
import Header from "@components/shrines/ma/ma-header.astro"
import Nav from "@components/shrines/ma/ma-nav.astro"
import Footer from "@components/shrines/ma/ma-footer.astro"
import Shrines from "@layouts/Shrines.astro";
import "@styles/shrines/marie-antoinette.css";
---
<Shrines title="Marie Antoinette | Home"> 
    <div class="ma-wrapper" >
        <Header />
        <Nav />
        <main class="ma-main">
            <h3 class="ma-h3">Marie Antoinette: Queen, Trendsetter, and Enduring Icon</h3>
            <hr class="ma-hr">
            <p class="ma-p">We are all familiar with the story of Marie Antoinette, an Austrian princess who became the Queen of France at 19 as the wife of Louis XVI, but whose glamourous lifestyle came to a sudden halt due to the French Revolution. Some claim she is the reason for the revolution, while others simply place her at the wrong place at the wrong time. This shrine does not have any kind of agenda one way or the other, but rather serves to document her life, her fashion, her portraits, and what made her such an enduring icon.</p>
            <p class="ma-p">No matter what your opinion of her is, it can be said that she is an enduring figure in history and pop culture. She has been looked to as a symbol of elegance, beauty, luxury, and the extravagance of the French monarchy, as well as a tragic figure of the French Revolution. Her story continues to fascinate and inspire audiences worldwide.</p>
            <p class="ma-p">This shrine is dedicated to exploring and celebrating her multifaceted legacy, from her taste in fashion to her impact on culture. Feel free to look around and learn more about this fascinating figure in history! This shrine is also heavily inspired by the V&A's 2025-2026 exhibition on Marie Antoinette, <a href="https://www.vam.ac.uk/exhibitions/marie-antoinette" class="vam ma-a">Marie Antoinette Style.</a></p>
        </main>
        <aside class="ma-updates">
            <h3 class="ma-h3">Updates</h3>
            <ul class="ma-ul">
                <li class="ma-li">July 13<sup>th</sup>, 2026: Minor CSS tweaks and spelling errors corrected.</li>
                <li class="ma-li">July 12<sup>th</sup>, 2026: Shrine v1.0 completed. VAM collections, portraits, links, added.</li>
                <li class="ma-li">July 11<sup>th</sup>, 2026: Shrine started</li>
            </ul>
        </aside>
        <Footer />
    </div>
</Shrines>
<style>
    @media (min-width: 1000px) {
        .ma-main {
            width: calc(75% - 1em);
        }
        .ma-updates {
            width: calc(25% - 1em);
        }
    }
</style>