---
import '@styles/bucket-webring.css'
---
<div class="bucket-html">
    <div class="bucket-body">
        <span id="left">
            ⥼
            <a href="https://webring.bucketfish.me/redirect.html?to=prev&name=arietta" id="prev" class="bucket-a">prev</a>
        </span>
        &#127987;&#65039;&#8205;&#127752;
        <span id="mid">
            <a href="https://webring.bucketfish.me" id="header" class="bucket-a">
                <span style="--n: -10000ms;" class="name">b</span>
                <span style="--n: -9900ms;" class="name">u</span>
                <span style="--n: -9800ms;" class="name">c</span>
                <span style="--n: -9700ms;" class="name">k</span>
                <span style="--n: -9600ms;" class="name">e</span>
                <span style="--n: -9500ms;" class="name">t</span>
                <span style="--n: -9400ms;" class="name"> </span>
                <span style="--n: -9300ms;" class="name">w</span>
                <span style="--n: -9200ms;" class="name">e</span>
                <span style="--n: -9100ms;" class="name">b</span>
                <span style="--n: -9000ms;" class="name">r</span>
                <span style="--n: -8900ms;" class="name">i</span>
                <span style="--n: -8800ms;" class="name">n</span>
                <span style="--n: -8700ms;" class="name">g</span>
            </a>
            <a href="https://webring.bucketfish.me/redirect.html?to=random&name=arietta" class="bucket-a" id="random">&#9858; random &#9860;</a>
        </span>
        &#127987;&#65039;&#8205;&#127752;
        <span id="right">
            <a href="https://webring.bucketfish.me/redirect.html?to=next&name=arietta" id="next" class="bucket-a">next</a>
            ⥽
        </span>
    </div>
</div>