---
import FunStuff from "@layouts/FunStuff.astro"
---
<FunStuff title="Miscellaneous">
    <p>Stuff that doesn't quite fit anywhere else.</p>
    <ul>
        <li><a href="/misc/my-code-artwork">My Code/Art Usage Terms</a></li>
        <li><a href="/sitemap-0.xml">XML Sitemap</a></li>
        <li><a href="/rss.xml">RSS Feed</a></li>
    </ul>
</FunStuff>