---
import Layout from '@layouts/BlogPost.astro'
---

<Layout
	title="My Code/Artwork Usage Terms"
	description="Terms and conditions for using my code and artwork."
	pubDate={new Date('July 04 2026')}
>
	<h4>Hello!</h4>
	<p>
		I write my own code and design the artwork on this site, except where otherwise noted. I am no expert by any means when it comes to either, but I have been slowly getting better. I love the indie web, and a big part of this community is helping other people design their own websites. Thus, I am happy to help newbies coding their own websites. Don't be afraid to <a href="mailto:aristocraticarietta@proton.me">reach out via E-Mail and ask questions!</a> I promise I don't bite, and I really do want to help.
	</p>
	<h4>See something you like? Here's how to look "under the hood":</h4>
	<p>
		If you see something interesting on this site, go ahead and press <kbd>F12</kbd> or <kbd>Ctrl (Cmd on Mac) + Shift + I</kbd> to open the developer tools panel. You can also <kbd>right click</kbd> on an interesting element and click <kbd>Inspect</kbd> in the menu that pops up to open the panel to that element exactly.
	</p>
	<h4>Want to use my code/artwork on your own site?</h4>
	<p>
		You may use my code and/or artwork for any <b>indie web purposes; personal or commercial.</b> You do not have to credit me, but if you want to, <a href="/fun-stuff/#button-link">I reccommend adding my button to your site somewhere!</a> However, if you sell my verbatim code/artwork, claim it as your own, or use it in any projects that are <b>NOT Indie Web/Neocities based</b>, I will be very upset and you will have to take it down.
	</p>
</Layout>